<% title 'Blog' %>
<%= render_banner 'Blog', community_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <div class="groups">
      <% community_groups.each do |group| %>
        <%= link_to avatar_image(group, size: :small, class: 'fixed'), group %>
      <% end %>
    </div>
    <%= link_to 'Publicar', new_post_path, class: 'action' %> 
  <% end %>

  <div class="center span6">
    <%= render posts %>
  </div>

  <div class="sidebar span4">
    <%= render 'posts/pagination' %>
    <%= render 'posts/archive' %>
  </div>
</div>
