<% title 'Blog' %>
<%= render_banner 'Blog', community_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <div class="groups">
      <% community_groups.each do |group| %>
        <%= link_to avatar_image(group, class: 'fixed'), group %>
      <% end %>
    </div>
  <% end %>

  <div class="center span6">
    <%= render post_list %>
  </div>

  <div class="sidebar span4">
    <%= render 'posts/pagination' %>
    <%= render_posts_archive archive_posts %>
  </div>
</div>
