<% title 'Comunidad' %>
<% if params[:f].blank? or params[:f] == 'groups' %>
  <h2><%= t('activerecord.models.group.other') %>:</h2>
  <% groups.each do |group| %>
    <div class="row group">
      <div class="span10">
        <div class="row">
          <div class="span2">
            <%= link_to_unless_current avatar_image(group, class: 'fixed'), group %>
          </div>
          <div class="span8">
            <div class="hoverize">
              <%= hover? :update, group do %>
                <% if can? :destroy, group %>
                  <%= link_to t('app.remove', element: nil), group_path(group), method: :delete %> |
                <% end %>
                <%= link_to t('app.edit'), edit_group_path(group) %>
              <% end %>
              <h3><%= link_to group.title, group %></h3>
            </div>
          </div>
          <div class="span7 offset-2">
            <%= markdown group.summary %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if params[:f].blank? or params[:f] == 'users' %>
  <h2><%= t('activerecord.models.user.other') %>:</h2>
  <table class="table users">
    <% users.each do |user| %>
      <tr>
        <td><%= avatar_link user, size: :small %></td>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% content_for :left do %>
  <div class="actions">
    <%= link_to t('app.create_new', element: t('activerecord.models.group.one')), new_group_path, class: 'btn' %>
  </div>
  <div class="filters">
    <p><%= t('filters.filter_by') %>:</p>
    <p class='filter'><%= link_to t('filters.all'), '?f=' %></p>
    <p class='filter'><%= link_to t('filters.only', filter: t('activerecord.models.group.other')), '?f=groups' %></p>
    <p class='filter'><%= link_to t('filters.only', filter: t('activerecord.models.user.other')), '?f=users' %></p>
  </div>
<% end %>

