<%= page row: false do %>
  <div class="row">
    <div class="span12">
      <%= title 'Comunidad' %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <% groups.each do |group| %>
        <div class="row group">
          <div class="span2">
            <%= render_group_bar group %>
          </div>
          <div class="span4">
            <div class="hoverize">
              <%= hover? :update, group do %>
                <%= link_to icon(:edit, 'Editar perfil'), edit_profile_url(subdomain: group.subdomain) %>
              <% end %>
              <h2><%= link_to group.title, group %></h2>
              <%= markdown group.summary %>
            </div>
          </div>
          <% if group.has_blog? %>
            <div class="span2 blog-entries">
              <h4>Últimas entradas al blog</h4>
              <% group.posts.latest.each do |post| %>
                <div>
                  <%= link_to post.title, post_url(post, subdomain: group.subdomain) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="span4 sidebar sidebar-right">
      <div class="sidebar-bloc activity dotted-bg">
        <div class="corner-opac"></div>
        <h2>Última actividad</h3>
        <%= simple_list Activities.site_activity(30) do |version| %>
          <%= render version %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

