<% title 'Comunidad' %>
<%= render_banner t('.title'), root_path %>

<div class="groups cards">
  <% site.groups.limit(10).each do |group| %>
    <%= group_card(group) %>
  <% end %>
</div>
<div><%= link_to t('more'), groups_path %></div>
<br/>
<div class="users avatars small">
  <% site.users.each do |user| %>
    <%= div_for user, class: 'avatar' do %>
      <%= link_to avatar_image(user, size: :small), user_url(user, host: request.domain) %>
    <% end %>
  <% end %>
</div>
