<%= page do %>
  <div class="span10 offset2">
    <%= title 'Comunidad' %>
  </div>
  <% groups.each do |group| %>
    <div class="span12">
      <div class="row">
        <div class="span2">
          <%= render_group_bar group %>
        </div>
        <div class="span4">
          <div class="hoverize">
            <%= hover? :update, group do %>
              <%= link_to icon(:edit, 'Editar perfil'), edit_profile_url(subdomain: group.subdomain) %>
            <% end %>
            <h2><%= link_to group.title, group %></h2>
          <%= markdown group.summary %>
          <%= link_to 'Leer más...', profile_url(subdomain: group.subdomain) %>
          </div>
        </div>
        <div class="span2">
          <h4>Últimas entradas al blog</h4>
          <%= simple_list group.posts.latest do |post| %>
            <div style="width: 100%; height: 1.2em; overflow: hidden; text-overflow: ellipsis;">
            <%= link_to post.title, post_url(post, subdomain: group.subdomain) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

