<% title 'Procesos colectivos de vivienda' %>
<div class="front-header corner colored">
  <div>
    <%= image_tag('logo_inicio.png', alt: 'Procesos colectivos de vivienda', class: 'responsive') %>
  </div>
</div>
<div class="row intro">
  <div class="span12">
    <div class="row">
      <div class="video-container span6 offset1">
        <div class="video">
          <iframe src="http://player.vimeo.com/video/37086987?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>     
      <div class="span4">
        <div class="corner"></div>
        <div class="content">
          <h2><%= t('welcome.title') %></h2>
          <%= markdown t('welcome.what') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-wrapper">
  <div class="info clearfix">
    <div class="habitapedia">
      <div class="content">
        <%= link_to image_tag('icon-habitapedia.png'), phases_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          <%= raw t('welcome.habitapedia.question') %>
        </div>
        <span><%= t('welcome.habitapedia.action') %></span>
        <h2><%= link_to "Habitapedia", phases_url(host: request.domain) %></h2>
        <%= markdown t('welcome.habitapedia.info') %>
      </div>
    </div>
    <div class="experiencies">
      <div class="content">
        <%= link_to image_tag('icon-experiencias.png'), experiencies_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          <%= raw t('welcome.experiencies.question') %>
        </div>
        <span><%= t('welcome.experiencies.action') %></span>
        <h2><%= link_to "Experiencias", experiencies_url(host: request.domain) %></h2>
        <%= markdown t('welcome.experiencies.info') %>
      </div> 
    </div>
    <div class="blog">
      <div class="content">
        <%= link_to image_tag('icon-blog.png'), posts_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          <%= raw t('welcome.blog.question') %>
        </div>
        <span><%= t('welcome.blog.action') %></span>
        <h2><%= link_to "Blog", posts_url(host: request.domain) %></h2>
        <%= markdown t('welcome.blog.info') %>
      </div>
    </div>
    <div class="comunity">
      <div class="content">
        <%= link_to image_tag('icon-comunidad.png'), community_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          <%= raw t('welcome.community.question') %>
        </div>
        <span><%= t('welcome.community.action') %></span>
        <h2><%= link_to "Comunidad", community_url(host: request.domain) %></h2>
        <%= markdown t('welcome.community.info') %>
      </div>
    </div>
  </div>
</div>
