<% title 'Procesos colectivos de vivienda' %>
<div class="front-header corner colored">
  <div>
    <%= image_tag('logo-inicio-1170px.png', alt: 'Procesos colectivos de vivienda', class: 'responsive') %>
  </div>
</div>
<div class="row intro">
  <div class="span12">
    <div class="row">
      <div class="video-container span6 offset1">
        <div class="video">
          <iframe src="http://player.vimeo.com/video/37086987?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>     
      <div class="span4">
        <div class="corner"></div>
        <div class="content">
          <h2>¡Hola!</h2>
          <%= markdown Info::QUE %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-wrapper">
  <div class="info clearfix">
    <div class="habitapedia">
      <div class="content">
        <%= link_to image_tag('icon-habitapedia.png'), phases_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          ¿Quieres saber cómo resolver<br /> tu problema de vivienda de<br /> manera colectiva?
        </div>
        <span>Consulta la</span>
        <h2><%= link_to "Habitapedia", phases_url(host: request.domain) %></h2>
        <p>
        Estamos recopilando dudas y propuestas útiles para tener en cuenta a lo largo del proceso de construcción colectiva de nuestras viviendas y entornos. ¡La Habitapedia està abierta a la participación de todo el mundo!
        </p>
      </div>
    </div>
    <div class="experiencies">
      <div class="content">
        <%= link_to image_tag('icon-experiencias.png'), experiencies_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          ¿Quieres conocer<br /> algunas propuestas<br /> ya realizadas?
        </div>
        <span>Visita las</span>
        <h2><%= link_to "Experiencias", experiencies_url(host: request.domain) %></h2>
        <p>
        Si conoces alguna experiencia de vivienda colectiva en la que sus habitantes hayan participado en alguna de las fases del proceso, puedes subirla a la base de datos desde tu perfil de usuario de Más que una casa.
        </p>
      </div> 
    </div>
    <div class="blog">
      <div class="content">
        <%= link_to image_tag('icon-blog.png'), posts_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          ¿Quieres participar<br /> proponiendo<br /> mejoras y posibilidades?
        </div>
        <span>Escribe en el</span>
        <h2><%= link_to "Blog", posts_url(host: request.domain) %></h2>
        <p>
        Éste es el blog colectivo de Más que una casa. También puedes tener tu propio blog e informar de tus actividades, tanto si trabajas con estos temas como si estás iniciando un proyecto de cooperativa en vuestra zona. ¡Regístrate y participa!
        </p> 
      </div>
    </div>
    <div class="comunity">
      <div class="content">
        <%= link_to image_tag('icon-comunidad.png'), community_url(host: request.domain), class: 'icon' %>
        <div class="section-question">
          ¿Quieres encontrar gente<br /> interesada en procesos<br /> colectivos de vivienda?
        </div>
        <span>Únete a nuestra</span>
        <h2><%= link_to "Comunidad", community_url(host: request.domain) %></h2>
        <p>
        Queremos generar una red para compartir experiencias, conocer personas con experiencias comunes y encontrar gente que nos pueda asesorar en nuestros contextos locales. Regístrate y podrás formar parte de Más que una casa.
        </p>
      </div>
    </div>
  </div>
</div>
