<%= render 'groups/header' %>

<div class="row">
  <div class="span8">
    <div class="content">
      <%= simple_form_for new_message do |form| %>
        <%= form.input :title %>
        <%= form.input :body %>
        <%= submit_button_for form %>
      <% end %>
    </div>
    &nbsp;
    <% messages.each do |msg| %>
      <%= div_for msg, class: 'row' do %>
        <div class="span2">
          <div class="content">
            <%= msg.title %>
          </div>
        </div>
        <div class="span6">
          <div class="content">
            <%= raw msg.body %>
            <%= link_to 'Borrar', msg, method: :delete, 
              confirm: '¿Segura?' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="sidebar span4">
    <%= render 'groups/group_description' %>
  </div>
</div>


