<%= page row: false, head: false do %>
  <%= group_header %>
  <div class="row">
    <div class='span6'>
      <div class="hoverize">
        <%= hover? :create, Announcement do %>
          <%= link_to icon(:plus, 'Nueva noticia'), new_announcement_path, rel: 'new-announcement' if can? :new, Announcement %>
        <% end %>
        <%= title t('.title', group: current_group.name) %>
      </div>
      <% announcements.each do |ann| %>
        <%= div_for ann do %>
          <div class="hoverize">
            <%= hover? :destroy, ann do %>
              <%= link_to icon(:trash, 'Borrar'), ann, method: :delete, class: "delete-announcement" %>
            <% end %>
            <h2 class="announcement-title">
              <%= link_to ann.title, ann %>
            </h2>
          </div>
          <%= current_user.name if current_user.admin?  %>
          <div class='announcement-body' >
            <%= raw truncate_html(ann.body, length: 250) %>
            <%= link_to t('read_more'), ann, class: 'read-more' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
