<% title "Editar perfil" %>
<%= user_column 'span3' do %>
  <%= avatar_image current_group %>
  <h3>Imagen de perfil</h3>
  <%= simple_form_for current_group do |form| %>
    <%= form.input :avatar_image %>
    <%= submit_button_for form, value: 'Cambiar imágen', name: 'commit-image' %>
  <% end %>

  <h3>Imágen de grupo</h3>
  <%= image_tag(current_group.banner_image, alt: 'Imágen de cabecera', 
                class: 'responsive') if current_group.banner_image? %>
  <%= simple_form_for current_group do |form| %>
    <%= form.input :banner_image %>
    <%= submit_button_for form, value: 'Cambiar imágen', name: 'commit-banner' %>
  <% end %>
<% end %>

<div class="span5">
  <%= render partial: 'groups/form', locals: {group: current_group } %>
</div>

<div class="span4">
  <div class="hoverize">
    <%= hover? :update, current_group do %>
      <%= link_to icon(:plus, 'Añadir participante'),
        new_membership_path, rel: 'new-membership' %>
    <% end %>
    <h2>Participantes</h2>
  </div>
  <%= simple_list current_group.memberships do |membership| %>
    <div class="hoverize">
      <%= hover? :destroy, membership do %>
        <%= link_to icon(:cut, 'Quitar'), 
          url_for_membership(current_group, membership),
          method: :delete, data: {confirm: "¿Quieres quitar a '#{membership.user.title}' de este grupo?" }, 
          rel: "delete-membership-#{membership.id}" %>
      <% end %>
      <%= avatar_link membership.user, size: :small, class: 'fixed' %>
      <%= link_to membership.user.title, membership.user %>
    </div>
  <% end %>
</div>
