<%= render 'groups/header' %>


<div class="row profile-editor editor">
  <div class="span12">
    <div class="corner colored"></div>
    <div class="content">
      <%= title 'Editar perfil' %>
    </div>

    <div class="bloc">
      <%= simple_form_for current_group, url: profile_path do |form| %>
        <div class="row">
          <div class="span8">
            <div class="content">
              <%= form.input :name %>
              <%= form.input :description, as: :text %>
              <%= submit_button_for form %>
            </div>
          </div>
          <div class="span4">
            <div class="content">
              <%= form.input :slug %>
              <%= form.input :banner_image %>
              <%= form.input :avatar_image %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
