<% google_maps %>
<%= group_header group.title, group %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= render_group_bar group %>
  <% end %>

  <%= corner_span('span6') do %> 
    <%= render_agent_info group %>
  <% end %>

  <div class="span4">
    <%= corner_span('') do %>
      <%= render_locations_bar group %>
    <% end %>
    <% unless group.admin? %>
      <%= corner_span('') do %>
        <%= render_memberships_list group %>
      <% end %>
    <% end %>
  </div>
</div>
