<% google_maps %>
<%= group_header group.title, group %>
<div class="row">
  <%= user_column 'span2' do %>
    <%= render_group_bar group %>
  <% end %>

  <%= corner_span('span6') do %> 
    <%= render_agent_info group %>
  <% end %>

  <%= corner_span('span4') do %>
    <%= render_agent_locations group %>
  <% end %>
</div>
