<% google_maps %>
<%= page_div group: true do %>

  <div class="row">
    <%= user_column 'span2' do %>
      <%= render_group_bar group %>
    <% end %>

    <div class="center span6">
      <div class="content">
        <%= render_agent_info group %>
      </div>
    </div>

    <div class="sidebar sidebar-right span4">
      <%= render_locations_bar group %>
      <% unless group.admin? %>
        <%= render_memberships_list group %>
      <% end %>
    </div>
  </div>
<% end %>
