<%= group_header 'Editar participante' %>

<div class="row space">
  <div class="span2">
    <div class="cards">
      <%= user_card(membership.user) %>
    </div>
  </div>
  <%= corner_span('span4') do %>
    <h2>Editar participante</h2>
    <%= simple_form_for membership do |form| %>
      <%= form.input :state, collection: tc('membership.states', Membership::STATES),
        include_blank: false %>
      <%= submit_button_for form %>
    <% end %>
  <% end %>
  <%= corner_span('span4', :none) do %>
    <h2>Quitar participante</h2>
    <p>Puedes quitar a <%= membership.user.name %> de este grupo</p>
    <div class="controls">
      <%= link_box 'Quitar', membership, method: :delete,
        confirm: "¿Seguro que quieres quitar a '#{membership.user.name}'?" %>
    </div>
  <% end %>
</div>
