<%= group_header 'Participantes' %>
<div class="row">
  <div class="bloc controls span12">
    <%= link_box 'Añadir participante', new_membership_path if can? :new, Membership %>
  </div>
</div>

<div class="users cards">
  <% memberships.each do |member| %>
    <%= user_card(member.user) do %>
    <% end %>
  <% end %>
</div>

<% if current_user && current_user.admin? %>
  <div class="row">
    <div class="span-12 bloc" style="margin-top:20px">
      <h3>Eres admin: emails de los participantes</h3>
      <% memberships.each do |member| %>
        "<%= member.user.name %>" &lt;<%= member.user.email %>&gt;,
      <% end %>
    </div>
  </div>
<% end %>


