<%= group_header 'Participantes' %>
<div class="row">
  <div class="bloc controls span12">
    <%= link_box 'Añadir participante', new_membership_path if can? :new, Membership %>
  </div>
</div>

<div class="users cards">
  <% memberships.each do |member| %>
    <%= user_card(member.user) do %>
      <%= t("membership.states.#{member.state}") %>
        <%= link_box 'Editar participación', [:edit, member] if can? :edit, member %>
    <% end %>
  <% end %>
</div>


