<%= title "#{group.name}: #{t('.title')}" %>

<div class="row">
  <%= corner_span 'span6 offset2' do %>
    <%= simple_list users do |user| %>
      <div class="hoverize">
        <%= hover? :update, group do %>
          <%= link_to icon(:plus, 'Añadir'), group_memberships_path(group, u: user), method: :post, rel: "add-member-user-#{user.id}" %>
        <% end %>
        <%= avatar_link user, size: :small, class: 'fixed' %>
        <%= user.name %>
      </div>
    <% end %>
  <% end %>
</div>

