<%= group_header 'A単adir participante' %>

<div class="row">
  <%= corner_span 'span6 offset2' do %>
    <h3><%= group.title %></h3>
    <%= title 'A単adir participante' %>
    <%= simple_list users do |user| %>
      <div class="hoverize">
        <%= hover? :update, group do %>
          <% if user.member?(group) %>
            <%= link_to icon(:trash, 'Borrar'), group.membership_for(user), method: :delete, confirm: "多Quieres quitar a #{user.title} de '#{group.title}'?" %>
          <% else %>
            <%= link_to icon(:plus, 'A単adir'), memberships_path(u: user), method: :post unless user.member?(group) %>
          <% end %>
        <% end %>
        <%= avatar_link user, size: :small, class: 'fixed' %>
        <%= user.title %>
      <% end %>
    <% end %>
  </div>



