<div class="span3">
    <%= render_editorships_list document %>
    <%= render_subscriptors_list document %>
</div>
<div class="span6">
  <div class="content">
    <h2>Actividad</h2>
    <%= simple_list versions do |version| %>
      <%= render version %>
    <% end %>
  </div>
</div>
<div class="span3">
    <%= render_task_list document %>
</div>

