<div class="span6 offset2">
  <%= title "Supereditor #{document.title}" %>
  <%= simple_form_for document do |form| %>
    <div class="title">
    <%= form.input :title, label: false %>
  </div>
  <%= form.input :summary, as: :text if document.respond_to?(:summary) %>
  <fieldset class="sections-fields">
    <legend>Secciones</legend>
    <div class="add-section">
      <%= link_to "A침adir una secci칩n", '#', class: 'btn add-section' %>
      <%= link_to_add_fields "Texto", form, :sections, :text %>
      <%= link_to_add_fields "Imagen", form, :sections, :image %>
    </div>
    <%= form.fields_for :sections do |builder| %>
      <%= render_section_fields builder %>
      <div class="add-section">
        <%= link_to "A침adir una secci칩n", '#', class: 'btn add-section' %>
        <%= link_to_add_fields "Texto", form, :sections, :text %>
        <%= link_to_add_fields "Imagen", form, :sections, :image %>
      </div>
    <% end %>
  </fieldset>
  <%= submit_button_for form %>
<% end %>
</div>
