<%= page row: false do %>
  <div class="row">
    <div class="span2">
      <%= icon_type document %>
    </div>
    <div class="span10">
      <h3><%= link_to document.title, document %></h3>
      <%= title 'Mesa de edición' %>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <h3>Editores</h3>
      <p>Han participado en la elaboración de este contenido</p>
      <%= simple_list document.editorships do |editorship| %>
        <%= avatar_link editorship.user, size: :small, class: 'fixed' %>
        <%#= link_to 'Quitar este editor', editorship, method: :delete, confirm: "¿Seguro" %>
      <% end %>

      <h3>Seguidores</h3>
      <p>Reciben emails cuando este contenido cambia</p>
      <%= simple_list document.subscriptors do |subscriptor| %>
        <%= avatar_link subscriptor, size: :small, class: 'fixed' %>
      <% end %>
    </div>
    <div class="span6">
      <h2>Actividad</h2>
    </div>
  </div>
<% end %>
