<%= simple_form_for notice do |form| %>
  <%= form.error_notification %>
  <div class="title">
    <%= form.input :title %>
  </div>
  <%= form.input :list, collection: Notice::LISTS, 
    include_blank: false %>
  <%= form.input :body, as: :text %>
  <% if notice.image? %>
    <%= image_tag notice.image.url %>
    <br/>
    <br/>
    <%= form.input :link %>
    <h5>Puedes cambiar la imágen subiendo otra:</h5>
    <%= form.input :image, label: false %>
  <% elsif notice.embed? %>
    <%= form.input :embed, as: :text, input_html: { rows: 4 } %>
  <% else %>
    <h4>Puedes subir una imágen...</h4>
    <%= form.input :image %>
    <%= form.input :link %>
    <h4>... o poner un código de embed</h4>
    <%= form.input :embed, as: :text, input_html: { rows: 4 } %>
  <% end %>
  <%= form.submit %>
<% end %>
