<%= div_for notice do %>
  <div class="row">
    <div class="video-container span6 offset1">
      <% if notice.image? %>
        <%= link_to_if notice.link?, 
          image_tag(notice.image.url), notice.link %>
      <% elsif notice.embed? %>
        <div class="video">
          <%= raw notice.embed %>
        </div>
      <% end %>
    </div>     
    <div class="span4 slide-text">
      <div class="corner"></div>
      <div class="content">
        <h2><%= notice.title %></h2>
        <%= markdown notice.body %>
      </div>
    </div>
  </div>
<% end %>
