<div class="span12">
  <%= title 'Destacados' %>
  <ul class="nav nav-tabs">
    <% Notice::LISTS.each do |item| %>
      <%= content_tag :li, link_to(item, url_for(l: item)), class: (list == item ? 'active' : '') %>
    <% end %>
  </ul>
  <div class="actions">
    <%= link_to "Añadir destacado a '#{list}'", 
      new_notice_path(l: list), class: 'btn' %>
  </div>
  <br>
</div>

<div class="notices">
  <% notices.each do |notice| %>
    <%= render notice %>
    <div class="span12 actions">
      <span><%= notice.position %>º</span>
      <strong><%= notice.title %></strong> &gt;
      <%= link_to icon('arrow-up', 'Subir'),
        up_notice_path(notice), method: :put %>
      <%= link_to icon('arrow-down', 'Bajar'),
        down_notice_path(notice), method: :put %>
      <%= link_to icon('edit', 'Editar'), [:edit, notice] %>
      <%= link_to icon('trash', 'Borrar'), notice, 
        method: :delete, 
        data: { confirm: "¿Quieres borrar #{notice.title}?", 
              action: "delete-notice-#{notice.id}" } %>
    </div>
  <% end %>
</div>

