<%= page do %>
  <div class="span6 offset2">
    <h2>En <%= link_to parent.title, parent %></h2>
    <%= title 'Añadir experiencia relacionada' %>

    <h3>Añadir una experiencia nueva</h3>
    <%= link_to icon(:plus, "Crear experiencia"), new_experiencie_path(p: parent) %>
    <br/><br/>

    <h3>Relacionar con una experiencia existente</h3>
    <%= simple_list experiencies do |experiencie| %>
      <div class="hoverize">
        <%= hover? :create, Relation do %>
          <%= link_to 'Relacionar', proposal_relations_path(parent, e: experiencie.id), method: :post, rel: 'new-relation' %>
        <% end %>
        <%= experiencie.title %>
      </div>
    <% end %>
  </div>

<% end %>

