<%= simple_nested_form_for experiencie do |form| %>
  <div class="title">
    <%= form.input :title %>
  </div>
  <%= form.input :summary, as: :text %>
  <%= form.input :related_proposal_id, as: :hidden %>
  <%= render 'section_fields', form: form %>
  <%= form.button :submit %>
<% end %>
