<%= page row: false do %> 
  <% title 'Experiencias' %>
  <div class="quadricula">
    <% if can? :create, Experiencie %>
      <div id="add_image">
        <%= link_to "Añadir<br /> experiencia".html_safe, new_experiencie_path, rel: 'new-experiencie' %>
      </div>
    <% end %>
    <% experiencies.each do |experiencie| %>
      <%= div_for experiencie do %>
        <% if experiencie.images.empty? %>
          No hay imagen disponible
        <% else %>
          <%= link_to image_tag(experiencie.image), experiencie  %>
        <% end %>
        <div class="overlay">
          <div class="transparent-bg"></div>
          <div class="experiencie-text">
            <%= link_to experiencie.title, experiencie %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
