<%= render_banner 'Experiencias', experiencies_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
    <div class="controls">
    <%= link_box '+ Experiencia', new_experiencie_path, rel: 'new-experiencie' if can? :create, Experiencie %>
    </div>
  <% end %>
  <%= corner_span 'span6' do %>
    <%= title 'Experiencias' %>
    <table class="table">
      <% experiencies.each do |experiencie| %>
        <tr>
          <td><h3><%= link_to experiencie.title, experiencie %></h3></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

