<%= render_banner 'Experiencias', experiencies_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
    <div class="controls">
    <%= link_box '+ Experiencia', new_experiencie_path, rel: 'new-experiencie' if can? :create, Experiencie %>
    </div>
  <% end %>

  <%= corner_span 'span6' do %>
    <%= title 'Experiencias' %>
    <%= simple_list experiencies do |experiencie| %>
      <h3>
        <%= link_to experiencie.title, experiencie %>
        <small>
          <%= icon(:heart, experiencie.kudos_count) %>
          <%= icon('eye-open', experiencie.view_count) %>
          <%= icon(:undo, experiencie.proposals_count) %>
        </small>
      </h3>
    <% end %>
  <% end %>
</div>

