<% google_maps %>

<div class="hoverize">
  <%= hover? :update, experiencie do %>
    <%= link_to icon(:pencil, 'Editar'), [:edit, experiencie] %>
    <% if can? :destroy, experiencie %>
      | <%= link_to icon(:trash), experiencie, 
        method: :delete, confirm: "¿Quieres borrar esta experiencia?" %>
    <% end %>
  <% end %>
  <%= title experiencie.title %>
</div>
<div class="summary markdown">
  <%= markdown experiencie.summary %>
</div>
<div class="image-gallery">
  <% if !experiencie.images.empty? %>
    <div class="galleria">
      <% experiencie.images.each do |image| %>
        <% if image.image? %>
          <%= link_to image_tag(image.image.thumb.to_s, title: image.title, alt: image.credits), image.image.to_s %>
        <% end %>
        <% if image.external_image_url? %>
          <%= image_tag(image.external_image_url, title: image.title, alt: image.credits) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'sections/index', document: experiencie %>
<%= render 'comments/comments', document: experiencie %>

<% content_for :left do %>
  <%= image_tag "habitap/experiencias_100n.png", alt: 'Experiencia', width: 100, height: 100, class: 'breadcrumb-image' %>
  <%= render_kudos experiencie %>
  <%= render 'available_translations', document: experiencie %>
<% end %>

<% content_for :right do %>
  <%= render_experiencie_relations experiencie %>
  <%= render_links_bar experiencie %>
  <%= render 'locations/bar', resource: experiencie %>
<% end %>
