<% google_maps %>
<%= page do %>
  <div class="span2">
    <%= image_tag('habitap/experiencie.png', alt: experiencie.title, width: 150, height: 150) %>
    <%= render_kudos experiencie %>
    <%# render_sections_summary experiencie %>
    <%= render_social_links experiencie %>
  </div>

  <div class="span6">
    <div class="hoverize">
      <%= hover? :update, experiencie do %>
        <%= link_to icon(:pencil, 'Editar'), [:edit, experiencie] %>
        <% if can? :destroy, experiencie %>
          | <%= link_to icon(:trash), experiencie, 
            method: :delete, confirm: "¿Quieres borrar esta experiencia?" %>
        <% end %>
      <% end %>
      <h3>Experiencia</h3>
      <%= title experiencie.title %>
    </div>
    <div class="summary markdown">
      <%= markdown experiencie.summary %>
    </div>
    <%= render_sections experiencie %>
  </div>

  <div class="span4">
    <h2>Alternativas relacionadas</h2>
    <%= simple_list experiencie.proposals.each do |proposal| %>
      <h3><%= link_to proposal.title, proposal %></h3>
      <%= markdown proposal.summary %>
    <% end %>
    <%= render_locations_bar experiencie %>

  </div>
<% end %>
