<%= render_banner 'Experiencias', experiencies_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
    <div class="controls">
      <%= link_box 'Editar', [:edit, experiencie] if can? :update, experiencie %>
    </div>
  <% end %>
  <%= corner_span 'span6' do %>
    <%= title experiencie.title %>
    <%= render_sections experiencie %>
  <% end %>
  <%= corner_span 'span4' do %>
    <h3>Alternativas relacionadas</h3>
    <ul>
      <% experiencie.proposals.each do |proposal| %>
        <li><%= link_to proposal.title, proposal %></li>
      <% end %>
    </ul>
  <% end %>
</div>
