<%# render_banner 'Experiencias', experiencies_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= image_tag('habitap/experiencie.png', alt: experiencie.title, width: 150, height: 150) %>
    <%= render_kudos experiencie %>
    <%# render_sections_summary experiencie %>
    <%= render_social_links experiencie %>
  <% end %>
  <%= corner_span 'span6' do %>
    <div class="hoverize">
      <%= hover? :update, experiencie do %>
        <%= link_to icon(:pencil, 'Editar'), [:edit, experiencie] %>
        <% if can? :destroy, experiencie %>
          |
          <%= link_to icon(:cut, 'Borrar'), experiencie, 
            method: :delete, confirm: "¿Quieres borrar esta experiencia?" %>
        <% end %>
      <% end %>
      <h3>Experiencia</h3>
      <%= title experiencie.title %>
    </div>
    <%= render_sections experiencie %>
  <% end %>
  <%= corner_span 'span4' do %>
    <h2>Alternativas relacionadas</h2>
    <%= simple_list experiencie.proposals.each do |proposal| %>
      <h3><%= link_to proposal.title, proposal %></h3>
      <%= render_body proposal.sections.first %>
    <% end %>
  <% end %>
</div>
