<%= simple_form_for group do |form| %>
  <div class="row">
    <div class="span8">
      <div class="content">
        <%= form.input :name %>
        <%= form.input :banner_image %>
        <%= form.input :avatar_image %>
        <%= form.input :description, as: :text, input_html: {class: 'rte'} %>
        <%= form.input :closed %>
        <%= submit_button_for form %>
      </div>
    </div>
    <div class="span4">
      <div class="content">
        <p class="form-label">Si quieres puedes ubicarte en el mapa:</p>
        <div id="form_map" style="width:300px; height:300px"
          <% if group.latitude && group.longitude %>
            data-location="<%= group.latitude.to_s + "," + group.longitude.to_s %>"
          <% end %>></div>
            <%= form.input :latitude %>
            <%= form.input :longitude %>
            <%= form.input :subdomain if current_user.admin? %>
            <%= form.input :domain if current_user.admin? %>
        </div>
      </div>
    </div>
  </div>
<% end %>
