<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_image group %>
    <h3>Cambiar imágen</h3>
    <%= simple_form_for group do |form| %>
      <%= form.input :avatar_image %>
      <%= submit_button_for form, value: 'Cambiar imágen' %>
    <% end %>
  <% end %>

  <%= corner_span('span6') do %>
    <%= title "#{group.name}" %>
    <%= simple_form_for group, html: {class: 'clearfix'} do |form| %>
      <h3>Información pública</h3>
      <p>Esta información será visible para el resto de las personas</p>
      <%= form.input :name %>
      <%= form.input :title %>
      <%= form.input :email %>
      <%= form.input :website %>
      <%= form.input :twitter %>
      <%= form.input :facebook %>
      <% if current_user_admin? %>
        <h3>Información privada</h3>
        <p>Esto no será visible para el resto</p>
        <%= form.input :subdomain %>
      <% end %>

      <%= submit_button_for form %>
    <% end %>
  <% end %>

  <div class="span4">
    <%= corner_span('') do %>
      <div class="hoverize">
        <%= hover? :update, group do %>
          <%= link_to icon(:plus, 'Añadir participante'),
            new_group_membership_path(group) %>
        <% end %>
        <h2>Participantes</h2>
      </div>
      <%= simple_list group.memberships do |membership| %>
        <div class="hoverize">
          <%= hover? :destroy, membership do %>
            <%= link_to icon(:cut, 'Quitar'), [group, membership],
              method: :delete, confirm: "¿Quieres quitar a '#{membership.user.title}' de este grupo?" %>
          <% end %>
          <%= avatar_link membership.user, size: :small, class: 'fixed' %>
          <%= link_to membership.user.title, membership.user %>
          <%= membership.state %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= simple_debug group.errors %>
