<%= simple_form_for group, html: {class: 'clearfix'} do |form| %>
  <h3>Información general</h3>
  <%= form.input :name %>
  <%= form.input :title %>
  <%= form.input :summary, as: :text %>
  <br>
  <h3>Difusión</h3>
  <%= form.input :email %>
  <%= form.input :website %>
  <%= form.input :twitter %>
  <%= form.input :facebook %>
  <br>
  <h3>Funcionalidades</h3>
  <% [:blog, :pages, :announcements].each do |item| %>
    <%= form.input "has_#{item}", as: :boolean %>
  <% end %>

  <%= submit_button_for form %>
<% end %>

