<%= simple_form_for group, html: {class: 'clearfix'} do |form| %>
  <h3>Informaci칩n general</h3>
  <p>Esta informaci칩n ser치 visible para el resto de las personas</p>
  <%= form.input :name %>
  <%= form.input :title %>
  <%= form.input :summary, as: :text %>
  <h3>Difusi칩n</h3>
  <%= form.input :email %>
  <%= form.input :website %>
  <%= form.input :twitter %>
  <%= form.input :facebook %>
  <h3>Funcionalidades</h3>
  <% [:blog, :pages, :announcements].each do |item| %>
    <%= form.input "has_#{item}", as: :boolean %>
  <% end %>

  <%= submit_button_for form %>
<% end %>

