
<%= div_for group, class: 'row space' do %>
  <%= corner_span('info span4') do %> 
    <%= title group.name %>
    <%= avatar_image(group, class: 'fixed') %>
    <%= raw group.description %>
    <div class="controls">
      <%= link_box 'Editar datos', [:edit, group] if can? :edit, group%>
    </div>
  <% end %>
  <%= corner_span('messages span4', :none) do %>
    <h2><%= t('.get_in_touch') %></h2>
    <p><%= t('.you_can_send_message')%></p>
    <%= render 'messages/form' %>
    <div class="messages clearfix">
      <%= render group.received_messages %>
    </div>
  <% end %>
<% end %>


