
<div class="row">
  <%= render 'groups/current' %>

  <div class="group center span6">
    <%= corner_span('info') do %> 
      <div class="hoverize">
        <%= hover? :update, group do %>
          <%= link_to 'Editar', [:edit, group] %>
        <% end %>
        <%= title group.name %>
      </div>
      <%= raw group.description %>
    <% end %> 
    <!--
    <%= corner_span('messages', :none) do %>
      <h2><%= t('.get_in_touch') %></h2>
      <p><%= t('.you_can_send_message')%></p>
      <%= render 'messages/form' %>
    <% end %>
    -->
  </div>

  <% if group.latitude && group.longitude %>
    <%= corner_span('map span4', :none) do %>
      <h2><em><%= group.name %></em> en el mapa</h2>
      <div id="show_map" style="width: 310px; 
        height: 300px" data-location="<%= group.latitude.to_s + "," + group.longitude.to_s %>">
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
</div>

<%= div_for group, class: 'row space' do %>
<% end %>
