<div class="sidebar span4">
  <% if current_group.site? %>
    <div class="cards">
      <% current_group.latest_groups.each do |group| %>
        <%= render group %>
      <% end %>
    </div>
  <% else %>
    <%= corner_span('description', :none) do %>
      <h3>Quiénes</h3>
      <p>
      <%= raw current_group.description %>
      </p>
      <div class="controls">
        <% if current_user %>
          <% m = current_group.membership_for(current_user) %>
          <% if m.present? %>
        <% else %>
          <%= link_box 'Seguir', create_membership_path(current_user, 'follow'), method: :post %>
          <%= link_box 'Quiero participar', create_membership_path(current_user, 'request'), method: :post %>
        <% end %>
      <% else %>
        <%= link_box 'Entra para participar', login_url(host: request.domain, from: root_url(subdomain: current_group.slug)) %>
      <% end %>
    </div>
  <% end %>
<% end %>
<!--
<div class="archive">
  <div class="corner none"></div>
  <div class="content">
    <h3>Archivo</h3>
  </div>
  -->
</div>
