<%= group_header group.title, group %>
<div class="row">
  <%= user_column 'span2' do %>
    <%= link_to avatar_image(group, class: 'fixed'), profile_path %>
    <div class="members">
      <% group.members.limit(6).each do |user| %>
        <%= link_to avatar_image(user, size: :small, class: 'fixed'), user_url(user, host: request.domain) %>
      <% end %>
      <% if group.members.count > 6 %>
        Y <%= group.members.count - 6 %> más...
      <% end %>
    </div>
  <% end %>

  <%= corner_span('span6') do %> 
    <%= render_agent_info group %>
  <% end %> 
  <div class="span4 column">
    <%= corner_span 'span2' do %>
      <h2>Dónde</h2>
      <%= fake_img_fixed(310, 310, text: 'Mapa') %>
      <%= simple_list group.locations do |location| %>
        <%= content_tag :div, '', data: {longitude: location.longitude,
                                    latitude: location.latitude} %>
      <% end %>
    <% end %>
    <%= corner_span '' do %>
      <h2>Publicado</h2>
      <%= simple_list group.posts do |post| %>
        <%= link_to post.title, url_for_post(post) %>
      <% end %>
    <% end %>
  </div>
</div>


