<% google_maps %>

<div class="hoverize">
  <%= hover? :update, group do %>
    <% if can? :destroy, group %>
      <%= link_to t('app.remove', element: nil), group_path(group),
        method: :delete, confirm: t('confirm') %> |
    <% end %>
    <%= link_to t('app.edit'), edit_group_path(group) %>
  <% end %>
  <%= title group.title %>
</div>

<% if group.website.present? %>
  <h3><%= link_to group.website, group.website %></h3>
<% end %>
<% if group.email.present? %>
  <h4><small>correo </small><%= link_to group.email, "mailto:#{group.email}" %></h4>
<% end %>
<% if group.twitter.present? %>
  <h4><small>twitter </small><%= link_to "#{group.twitter}", "http://twitter.com/#!#{group.twitter}", target: '_blank' %></h4>
<% end %>
<% if group.facebook.present? %>
  <h4><small>facebook </small><%= link_to group.facebook, group.facebook %></h4>
<% end %>

<%= markdown group.summary %>
<%= render  'sections/index', document: group %>


<% content_for :left do %>
  <%= image_tag group.avatar_image, class: 'fixed' %>
  <div class="members hoverize">
    <%= hover? :update, group do %>
      <%= link_to icon(:plus, 'Añadir participante'),
        new_group_membership_path(group), rel: 'new-membership' %>
    <% end %>
    <%= content_tag 'h3', t('activerecord.models.membership.other') + ":" %>
    <% group.members.each do |user| %>
      <%= link_to avatar_image(user, size: :small, class: 'fixed'), user_url(user) %>
    <% end %>
  </div>
  <%= render 'available_translations', document: group %>
<% end %>

<% content_for :right do %>
  <%= render 'locations/bar', resource: group %>
<% end %>


