<%= simple_form_for user do |form| %>
  <%= form.error_notification %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :password, hint: '' %>
  <%= form.input :password_confirmation, hint: '' %>
  <div class="submit-wrapper clearfix">
    <%= form.button :submit, name: "commit_user" %>
    <div class="side-right"></div>
  </div>
<% end %>

