<%= user_column 'span2' do %>
  <%= avatar_image user %>
<% end %>

<div class="span5">
  <%= title "Editar #{user.name}" %>
  <%= simple_form_for user, html: {class: 'clearfix'} do |form| %>
    <h3>Información pública</h3>
    <p>Esta información será visible para el resto de las personas</p>
    <%= form.input :name %>
    <%= form.input :avatar_image %>
    <h3>Información privada</h3>
    <p>Esto no será visible para el resto</p>
    <%= form.input :email %>
    <%= form.submit %>
  <% end %>
</div>

<div class="span4 offset1">
  <h2>Cambiar contraseña</h2>
  <%= simple_form_for user do |form| %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
    <%= form.input :admin, wrapper: :checkbox if current_user && current_user.admin? %>
    <%= form.submit, label: 'Cambiar contraseña' %>
  <% end %>
</div>
