<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_image(user) %>
    <%= render_kudos user %>
  <% end %>

  <%= corner_span 'span6' do %>
    <%= render_agent_info user %>
  <% end %>
</div>


