<% google_maps %>
<%= user_column 'span2' do %>
  <%= avatar_image(user) %>
  <%= render_kudos user %>
<% end %>

<div class="center span6">
  <%= render_agent_info user %>
  <div class="editorships">
    <h3>Ha participado en la elaboración de...</h3>
    <%= simple_list user.editorships.order('created_at DESC').limit(10) do |editorship| %>
      <%= link_to editorship.document.title, editorship.document %>
      hace <%= time_ago_in_words editorship.created_at %>
    <% end %>
    <% more = user.editorships.count - 10 %>
    <% if more > 0 %>
      y <%= more %> más...
    <% end %>
  </div>
</div>
<div class="sidebar sidebar-right span4">
  <%= render 'versions/activity', activity: activity %>
  <%= render_locations_bar user %>
</div>
