<%= current_group.site? ? render_banner('Participantes', users_path) : 
  render('groups/header') %>

<%= div_for user, class: 'row space' do %>
  <%= corner_span('info span4') do %> 
    <%= title user.name %>
    <%= content_tag(:p, 'Administrador(a) de masqueunacasa.org') if user.admin? %>
    <%= raw user.description %>
    <div class="controls">
      <%= link_box 'Cerrar sesión', logout_path %>
      <%= link_box 'Editar', [:edit, user] if can? :edit, user %>
    </div>
  <% end %>
  <%= corner_span('groups span4') do %>
    <h2>Colectivos</h2>
    <% user.memberships.each do |m| %>
      <%= link_to m.group.name, m.group %>
    <% end %>
  <% end %>
<% end %>
