<%= current_group.site? ? render_banner('Participantes', users_path) : 
  render('groups/header') %>

<%= div_for user, class: 'row space' do %>
  <%= corner_span('info span4') do %> 
    <%= title user.name %>
    <%= raw user.description %>
    <%= avatar_image(user) %>
    <%= content_tag(:p, 'Administrador(a) de masqueunacasa.org') if user.admin? %>
    <div class="controls">
      <%= link_box 'Cerrar sesión', logout_path if user == current_user %>
      <%= link_box 'Editar perfil', [:edit, user] if can? :edit, user %>
    </div>
  <% end %>
  <%= corner_span('messages span4', :none) do %>
    <h2>Mensajes</h2>
    <% if current_user and (current_user != user || current_user.admin?) %>
      <p>Desde aquí puedes enviar un mensaje a esta persona</p>
      <%= render 'messages/form' %>
    <% end %>
    <div class="messages clearfix">
      <%= render user.received_messages %>
    </div>

  <% end %>
  <%= corner_span('groups span4', :none) do %>
    <h2>Colectivos</h2>
    <% user.memberships.each do |m| %>
      <%= link_to m.group.name, m.group %>
    <% end %>
  <% end %>
<% end %>
