<%= simple_form_for [document, section] do |form| %>
  <%= form.input :title %>
  <%= form.input :body, label: false %>
  <div class="image">
    <h3>Imágen</h3>
    <% if section.image.present? %>
      <%= image_tag section.image_url(:thumb), class: 'fixed' %>
      <dl class="unstyled">
        <dt>Posición</dt><dd><%= section.image_position %></dd>
        <dt>Enlace</dt><dd><%= section.image_url %></dd>
      </ul>

      <div class="controls">
        <%= link_box 'Borrar imágen', remove_image_section_path(section), method: :delete, confirm: '¿Quieres borrar esta imágen?' %>
      </div>
    <% else %>
      <p>Si quieres acompañar esta sección de una imágen, 
      lo puedes hacer aqui</p>
      <%= form.input :image, label: false %>
      <%= form.input :image_position, collection: ['top', 'bottom', 'none'], include_blank: false %>
    <% end %>
  </div>
  <%= submit_button_for form %>
  <%= link_to 'Cancelar', [document, section] %>
<% end %>

