<% document.sections.each do |section| %>
  <%= div_for section do %>
    <% if can? :update, section %>
      <div class="section-edit">
        <%= link_to 'Editar', [:edit, document, section], class: 'edit-section', rel: "edit-section-#{section.id}" if can? :update, section %>
      </div>
    <% end %>
    <a name="<%= section.title %>">
      <h2><%= link_to section.title, '#' %></h2>
    </a>
    <%= render_body section %>
  <% end %>
<% end %>
<%= link_to 'Añadir sección', [:new, document, :section], rel: 'new-section' if can? :create, Section %>

