<%= page_div do %>
  <div class="row">
  <div class="span6 offset2">
    <%= title "Editar sección" %>
    <h5>En <%= document.title %></h5>
    <%= render 'form' %>
  </div>
  <div class="span4">
    <%= markdown t('markdown.help') %>
  </div>
</div>
<% end %>
