<div class="hoverize">
  <%= hover? :update, agent do %>
    <%= link_to icon(:add, 'A침adir localizaci칩n'), [:new, agent, :location] %>
  <% end %>
  <h2>D칩nde</h2>
  <div class="locations">
    <div class="map" style="width: 300px; height:300px;" >
      <%= fake_img_fixed(310, 310, text: 'Mapa') %>
    </div>
    <%= simple_list agent.locations do |location| %>
      <div class="hoverize">
        <%= hover? :update, agent do %>
          <%= link_to icon(:trash, 'Borrar localizaci칩n'), [agent, location], method: :delete, confirm: "Seguro?" %>
        <% end %>
        <%= content_tag :div, location.title, class: 'location', data: {title: location.title, longitude: location.longitude, latitude: location.latitude} %>
      </div>
    <% end %>
  </div>
</div>
