<%= render 'groups/header' %>
<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
  <% end %>
  <%= corner_span 'span6' do %>
    <%= title 'Editar documento' %>
    <%= render 'form' %>
  <% end %>
</div>
