<%= render 'groups/header' %>

<div class="row">
  <%= render 'groups/current' %>
  <%= corner_span 'span6' do %>
    <%= title "Documentos" %>
    <table class="table">
      <% pages.each do |page| %>
        <tr>
          <td><%= fake_img_fixed(30, 30) %></td>
          <td><h3><%= link_to page.title, page %></h3></td>
          <td><%= link_to 'Editar', [:edit, page] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
