<%= render_group_header group %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= render_group_bar group %>
  <% end %>
  <%= corner_span 'span6' do %>
    <div class="hoverize">
      <%= hover? :create, Page do %>
        <%= link_to icon(:plus, 'Añadir documento'), new_page_path %>
      <% end %>
      <%= title "Documentos" %>
    </div>
    <%= simple_list pages do |page| %>
      <h3><%= link_to page.title, page %></h3>
    <% end %>
  <% end %>
</div>
