<%= user_column 'span2' do %>
  <%= avatar_link current_group %>
  <%= render_kudos doc %>
  <%= render 'sections/summary', document: doc %>
<% end %>

<div class="span6">
  <div class="hoverize">
    <%= hover? :update, doc do %>
      <%= link_to icon(:pencil), [:edit, doc] %>
      |
      <%= link_to icon(:trash), doc, method: :delete, confirm: "¿Seguro?" %>
    <% end %>
    <%= title doc.title %>
    <div class="summary markdown">
      <%= markdown doc.body %>
    </div>
  </div>
  <%= render_sections doc %>
</div>
