
<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
    <%= render_kudos page %>
    <%= render_group_sections %>
  <% end %>

  <%= corner_span 'span6' do %>
    <div class="hoverize">
      <%= hover? :update, page do %>
        <%= link_to icon(:pencil), [:edit, page] %>
      <% end %>
      <%= title page.title %>
    </div>
    <%= render_sections page %>
  <% end %>
</div>
