
<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
    <%= render_kudos page %>
    <%= render_group_sections %>
  <% end %>

  <%= corner_span 'span6' do %>
    <%= title page.title %>
    <%= render_sections page %>
  <% end %>
</div>
