<div class="document-links">
  <div class="hoverize">
    <div class="header border-color">
      <%= hover? :update, document do %>
        <%= link_to icon(:plus, 'Añadir recurso'), [:new, document, :link], rel: 'new-link' %>
    <% end %>
      <h2 class="border-color">Recursos</h2>
    </div>
  </div>
  <div class="links">
    <%= content_tag_for :div, document.links, class: 'border-color' do |link| %>
      <div class="hoverize">
      <%= hover? :update, document do %>
        <%= link_to icon(:pencil), [:edit, document, link], 
          rel: "edit-link-#{link.id}" %> |
          <%= link_to icon(:trash), [document, link], 
          rel: "delete-link-#{link.id}", method: :delete, 
        data: { confirm:
                "¿Estas seguro de que quieres borrar este enlace?" } %>
            <% end %>
                <%= link_to link.caption, link.url, target: '_blank', class: 'resource' %>
              </div>
            <% end %>
            </div>
          </div>
