<% cache version do %>
  <%= div_for version do %>
  <span class="user">
  <% user = version.user %>
  <% if user %>
    <%= avatar_link user, size: :small %>
    <%= link_to user.name, user_url(user, subdomain: false) %>
<% else %>
    Anónimx
<% end %>
</span>
<span class="action">
  ha <%= t("versions.events.#{version.event}") %>
<strong>
    <%= version.item_type == 'Agent' ? 'el' : 'la' %>
    <%= t("activerecord.models.#{version.item_type.downcase}") %>
  </strong>
  <%= link_to_if version.event != 'destroy', version.title, version_url(version) %>
</span>
<% if version.document.present? %>
  <span class="document">
  de 
  <% if version.document.respond_to?(:group) && version.document.group %>
    <%= link_to version.document.title, polymorphic_url(version.document, subdomain: version.document.group.subdomain) %>
<% else %>
    <%= link_to version.document.title, polymorphic_url(version.document) %>
<% end %>
</span>
<% end %>
<span class="time">
  Hace <%= time_ago_in_words version.created_at %>
</span>
<% end %>
<% end %>

