<div class="row">
  <div class="bloc span4">
    <%= title 'Entrar' %>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean, wrapper: :checkbox %>
      <%= f.button :submit %>
    <% end %>

    <%= render "links" %>
  </div>
</div>
