<%= page row: false do %>
  <div class="row">
    <div class="span6 offset2">
      <%= title 'Masqueunacasa mailer' %>
      <h4>Último email: <%= l activities.last_mail_at %></h4>
      <h4>Último intento: <%= l activities.updated_at %></h4>
      <p>Debería enviar: <%= activities.deliver? %>
      <h2>Versiones</h2>
      <%= simple_list activities.versions do |version| %>
        <%= render version %>
      <% end %>
    </div>
  </div>
<% end %>
