<%= simple_form_for proposal do |form| %>
  <div class="title">
    <%= form.input :title, label: false %>
  </div>
  <%= form.input :summary, as: :text %>
  <%= form.input :phase_id, as: :hidden %>
  <%= form.input :category_id, as: :hidden %>
  <%= submit_button_for form %>
<% end %>
