<div class="proposal-relations">
  <div class="hoverize">
    <%= hover? :create, Experiencie do %>
      <%= link_to icon(:plus, 'Añadir experiencia relacionada'), new_proposal_relation_path(proposal), rel: 'new-relation' %>
  <% end %>
    <div class="header">
      <%= image_tag("habitap/experiencias_55#{phase.color}.png", 
                    alt: 'Experiencias', 
                    width: 55, height: 55) %>
                  <h2 class="line-box">Experiencias relacionadas&nbsp;</h2>
                  </div>
                </div>
                <div class="relations">
                  <%= content_tag_for :div, proposal.relations do |relation| %>
                    <div class="hoverize">
                    <%= hover? :destroy, relation do %>
                      <%= link_to icon(:cut, 'Quitar relación'), [proposal, relation], method: :delete, confirm: "¿Borrar la relación con #{relation.experiencie.title}?" %>
                  <% end %>
                    <h3><%= link_to relation.experiencie.title, relation.experiencie %></h3>
                  </div>
                  <%= markdown truncate(relation.experiencie.summary, length: 150) %>
                <% end %>
                </div>
              </div>

