<%= page do %>
  <div class="span2">
    <%= render_editorships_list proposal %>
    <%= render_subscriptors_list proposal %>
  </div>
  <div class="span6">
    <%= title "Editar propuesta" %>
    <%= render 'form' %>
  </div>
  <div class="span2">
    <%= render_task_list proposal %>
<% end %>
