<%= page do %>
  <div class="span6">
    <%= title "Editar #{proposal.title}" %>
    <%= render 'form' %>
  </div>
  <div class="span4">
    <h3>Experiencias relacionadas</h3>
    <ul>
      <% proposal.relations.each do |relation| %>
        <li>
        <%= link_to relation.experiencie.title, relation.experiencie %>
        <%= link_to '[borrar relación]', [proposal, relation], method: :delete, 
          confirm: "Borrar relación con #{relation.experiencie.title}. ¿Segurx?" if can? :delete, relation %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Añadir experiencia relacionada', new_proposal_relation_path(proposal) if can? :create, Relation %>
  </div>
<% end %>
