<%= render_banner t('.title'), proposals_path %>

<div class="row">
  <div class="span8 offset2">
    <div class="content">
<%= title t('.title') %>
    <table class="table stripped">
      <% proposals.each do |proposal| %>
        <tr>
          <td><%= proposal.phase.name %></td>
          <td><%= proposal.category.title %></td>
          <td><h3><%= link_to proposal.title, proposal %></h3></td>
          <td><%= link_to 'Editar', [:edit, proposal] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>
