<%= render_banner t('.title'), proposals_path %>
<div class="row">
  <%= corner_span 'span8' do %>
    <% proposals.each do |proposal| %>
      <%= div_for proposal do %>
        <h3><%= proposal.title %></h3>
        <div>
          <%= raw proposal.description %>
        </div>
        <%= link_to t('read_more'), proposal %>
      <% end %>
    <% end %>
  <% end %>
  <%= corner_span 'span4' do %>
    <p>Estas son propuestas para buscar maneras de habitar diferentes</p>
    <div class="controls">
      <%= link_box 'Añadir propuesta', new_proposal_path, rel: 'new-proposal' if can? :new, Proposal %>
    </div>
  <% end %>
</div>
