<%= render_banner t('.title'), proposals_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
  <% end %>

  <%= corner_span 'span6' do %>
    <%= title 'Propuestas' %>
    <% Phase.all.each do |phase| %>
      <h2>
        <%= phase_image_link phase, size: 40 %>
        <%= link_to phase.title %>
      </h2>
      <%= simple_list phase.proposals do |proposal| %>
        <h3>
          <%= link_to proposal.title, proposal %>
          <small>
            <%= proposal.category.title %>
            <%= icon(:heart, proposal.kudos_count) %>
            <%= icon('eye-open', proposal.view_count) %>
            <%= 'no summary!' if proposal.summary.blank? %>
            <%= 'no sections!' if proposal.sections.count == 0 %>
            <%= 'body!' if proposal.body.present? %>
          </small>
        </h3>
      <% end %>
    <% end %>
  <% end %>
</div>
