
<%= page do %>
  <div class="span6 offset2">
  <%= title 'Propuestas' %>
  <% Phase.all.each do |phase| %>
    <h2><br/><%= phase_image_link phase, size: 40 %>
  <%= link_to phase.title %></h2>
  <table class="table">
    <% phase.proposals.reorder('category_id ASC').each do |proposal| %>
      <tr>
      <td><%= link_to proposal.title, proposal %></td>
      <td><%= proposal.category.title %></td>
      <td><%= icon(:edit, proposal.editorships_count) %></td>
      <td><%= icon(:heart, proposal.kudos_count) %></td>
      <td><%= icon('eye-open', proposal.view_count) %></td>
      <td><%= icon(:undo, proposal.experiencies_count) %></td>
      <td><%= 'no summary!' if proposal.summary.blank? %></td>
      <td><%= 'no sections!' if proposal.sections.count == 0 %></td>
      <td><%= 'body!' if proposal.body.present? %></td>
    </tr>
  <% end %>
  </table>
<% end %>
</div>
  <% end %>
