<%# render_banner t('.title'), proposals_path %>
<div class="row">
  <%= user_column 'span2' do %>
    <%= image_tag('habitap/proposal.png', alt: proposal.title, width: 150, height: 150) %>
    <%= render_kudos proposal %>
    <%= render_sections_summary proposal %>
    <%= render_social_links proposal %>
  <% end %>

  <%= corner_span 'span6' do %>
    <div class="hoverize">
      <%= hover? :update, proposal do %>
        <%= link_to 'Editar', [:edit, proposal], rel: 'edit-proposal' %>
      <% end %>
      <h3><%= link_to proposal.category.question, [proposal.category.phase, proposal.category] %></h3>
      <%= title proposal.title %>
    </div>
    <%= render_sections proposal %>
  <% end %>
  <%= corner_span 'span4' do %>
    <h3>Experiencias relacionadas</h3>
    <%= simple_list proposal.relations do |relation| %>
      <%= link_to relation.experiencie.title, relation.experiencie %>
    <% end %>
  <% end %>
</div>
