<% title proposal.title %>

<h4 class="category"><%= link_to proposal.category.title, proposal.category %></h4>
<div class="hoverize">
  <%= hover? :update, proposal do %>
    <%= link_to icon(:pencil, 'Editar'), [:edit, proposal], rel: 'edit-proposal' %>
    <% if can? :delete, proposal %>
      | <%= link_to icon(:trash), proposal, method: :delete,
        data: { confirm: "¿Seguro que quieres borrar esta propuesta?" } %>
    <% end %>
  <% end %>
  <h1><%= proposal.title %></h1>
</div><!-- hoverize -->

<div class="summary markdown">
  <%= markdown proposal.summary %>
</div>
<%= render_sections proposal %>

<% content_for :left do %>
  <%= image_tag("habitap/propuesta_100#{proposal.phase.color}.png", alt: 'Propuesta', width: 100, height: 100, class: 'doc-icon') %>
  <%= render_kudos proposal %>
  <%= render_social_links proposal %>
<% end %>

<% content_for :right do %>
  <%= render_proposal_relations proposal %>
  <%= render_links_bar proposal %>
<% end %>

<% content_for :ajaxrow do %>
  <div class="span6 offset2">
    <%= link_to 'Comentar', polymorphic_path([proposal, :edition], format: :js), remote: true %>
  </div>
<% end %>
