<%= corner_span 'archive' do %>
  <div class="hoverize">
    <%= hover? :create, Post do %>
      <%= link_to icon(:plus, 'Publicar entrada'), '#' %>
    <% end %>
    <h2>
      Blog
    </h2>
    <h4>
      <small>Entradas publicadas por <%= current_group.title %></small>
    </h4>
  </div>
  <%= simple_list posts do |post| %>
    <h4><%= link_to post.title, post_url(post, subdomain: post.group.subdomain) %></h4>
  <% end %>
<% end %>
