<div class="archive">
  <div class="corner none"></div>
  <div class="content">
    <h3><%= t('.archive') %></h3>
    <ul class="months">
      <% post_archive.sort.reverse.each do |month, posts| %>
        <li class="month">
          <h4><%= l month, format: :month_year %></h4>
          <ul>
            <% for post in posts %>
              <li>
                <%=link_to_unless_current post.title, post %><br />
                <%= l post.published_at %>
                <% if !request.subdomain.present? %>
                  <%= t('posts.by').downcase %> <%= link_to post.group.name, post.group %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>