<%= corner_span 'archive' do %>
  <div class="hoverize">
    <%= hover? :create, Post do %>
      <%= link_to icon(:plus, 'Publicar entrada'), '#' %>
    <% end %>
    <h2>
      Blog
    </h2>
    <h4>
      <% if group.present? %>
        <small>Entradas publicadas por <%= group.title %></small>
      <% else %>
        <small>Entradas publicadas por todos los colectivos y personas de masqueunacasa.org</small>
      <% end %>
    </h4>
  </div>
  <%= simple_list posts do |post| %>
    <h4><%= link_to post.title, post_url(post, subdomain: post.group.subdomain) %></h4>
  <% end %>
<% end %>
