<div class="archive">
  <div class="hoverize">
    <%= hover? :create, Post do %>
      <%= link_to icon(:plus, 'Publicar entrada'), new_post_path, rel: 'new-post' %>
    <% end %>
    <h2>
      Blog
    </h2>
    <h4>
      <small>Entradas publicadas en <%= link_to current_group.title, profile_path %></small>
    </h4>
  </div>
  <%= simple_list posts do |post| %>
    <h4><%= link_to post.title, post_url(post, subdomain: post.group.subdomain) %></h4>
  <% end %>
</div>
