<div class="bloc">
  <%= simple_form_for post do |form| %>
    <div class="row">
      <div class="span8"><div class="content">
          <%= form.input :title %>
          <%= form.input :body, as: :text %>
          <%= submit_button_for form %>
          <div class="form-controls">
            <%= link_box 'Cancelar', post %>
            <%= link_box 'Borrar', post, method: :delete, confirm: '¿Estás seguro? Esta acción no se puede deshacer' if post.persisted? %>
          </div>
      </div></div>
      <div class="span4"><div class="content">
          <%= form.input :image %>
          <%= form.input :embed %>
      </div></div>
    </div>
    <% if current_user.admin? %>
      <div class="content">
        <br><br>
        <h3>Cambiar fecha de publicación</h3>
        <%= form.input :published_at %>
      </div>
    <% end %>
  <% end %>
</div>
