<div class="bloc">
  <div class="row">
    <%= simple_form_for post do |form| %>
      <div class="span6">
        <%= form.input :title %>
        <%= form.input :body, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Basic' } %>
        <%= form.button :submit %>
      </div>
      <div class="span4">
        <%= form.input :image %>
        <%= form.input :embed %>
        <%= form.input :published_at if current_user.admin? %>
      </div>
    <% end %>
  </div>
</div>
