<div class="span8 offset2">
  <%= title 'Todas las entradas publicadas' %>
  <br>
  <table class="table">
    <% all_posts.each do |post| %>
      <tr>
      <td><%= link_to post.title, post_url(post, subdomain: post.group.subdomain) %></td>
      <td><%= link_to post.group.title, posts_url(subdomain: post.group.subdomain) %></td>
      <td><%= icon(:edit, post.editorships_count) %></td>
      <td><%= icon(:heart, post.kudos_count) %></td>
      <td><%= icon('eye-open', post.view_count) %></td>
      <td>
        Intro: <%= post.body.length %>
      Secciones: <%= post.sections.count %>
    </td>
    </tr>
  <% end %>
  </table>
</div>
