<%= page row: false, head: false do %>
  <%= render_group_header post.group %>
  <div class="row">
    <div class='span12'>
      <h3><%= post.group.title %></h3>
      <%= title 'Editar entrada al blog' %>
      <%= render 'form' %>
    </div>
  </div>
<% end %>
