<%= page_div do %>
  <%= render_group_header post.group %>
<div class="row">
  <div class='span6 offset2'>
    <%= title 'Editar entrada al blog' %>
    <h3>En <%= post.group.title %></h3>
    <%= render 'form' %>
  </div>
</div>
<% end %>
