<%= render 'header' %>
<div class="row">
  <div class="controls bloc span12">
    <div class="row">
      <div class="span6 offset2">
        <%= link_to 'Añadir entrada', new_post_path %>
      </div>
      <div class="span4">
        <%= link_to 'Editar perfil', edit_profile_path %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="center span8">
    <% posts.each do |post| %>
      <div class="post row">
        <div class="bloc span2">
          <%= link_to post.title, post %>
        </div>
        <div class="bloc span6">
          <%= raw truncate_html(post.body, length: 500) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar span4">
    <div class="bloc description">
      <p>
      <%= current_group.description %>
      </p>
    </div>
  </div>
</div>

