<% title "blog #{current_group.name}" %>
<% if current_group.site? %>
  <%= render_banner 'blog', posts_path %>
<% else %>
  <%= render 'groups/header' %>
<% end %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, feed_path %>
<% end %>

<% content_for :sidebar do %>
  <%= corner_span 'subscribe', 'none' do %>
    <%= t('subscribe') %>:
    <%= link_to(image_tag("RSS_32.png", {:alt => 'Atom feed', :class=>"feed"}), feed_path, {format: 'atom', class: 'feed'}) %>
  <% end %>
  <%= render 'archive' %>
<% end %>

<% if current_membership %>
  <div class="member_bar controls">
    <%= t('membership.status', state: t("membership.states.#{current_membership.state}"), group: current_group.name) %>
    <%= link_box t('.add_post'), new_post_path, rel: 'new-post', class: 'highlight' if can? :create, Post %>
    <%= link_box 'editar perfil', edit_profile_path, rel: 'edit-profile' if can? :edit, current_group %>
    <%= link_box 'Gestionar participantes', memberships_path, rel: 'manage-users' if can? :manage, User %>
  </div>
<% end %>

<div class="row">
  <div class="center span8">
    <% posts.each do |post| %>
      <%= div_for post, class: 'row' do %>
        <div class="span2 post-info">
          <div class="corner none"></div>
          <div class="content">
            <%= link_to content_tag(:h3, post.title), post_url(post, subdomain: post.group.subdomain) %>
            <%= t('posts.by') %>: <%= link_to post.group.name, post.group %>
            <%= l post.published_at %>
            <%= link_to avatar_image(post.group), post_url(post, subdomain: post.group.subdomain) if current_group.site? %>
          </div>
        </div>
        <div class="span6 post-teaser">
          <div class="corner colored"></div>
          <div class="content">
            <%= render_post_media(post) %>
            <%= raw truncate_html(post.body, length: 500) %>
            <div class="links">
              <%= link_to t('read_more'), post_url(post, subdomain: post.group.subdomain), class: 'read-more' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate(posts, page_links: false, previous_label: 
          t('.prev_posts'), next_label: t('.next_posts'),
          id: 'posts_pagination', class: 'corner none') %>
    &nbsp;
  </div>
  <%= render 'groups/sidebar' %>
</div>

