<% title "Blog #{current_group.name}" %>
<%= render 'groups/header' %>

<div class="row">
  <div class="controls bloc span12">
    <div class="row">
      <div class="span6 offset2">
        <%= link_to 'Añadir entrada', new_post_path if current_user &&
          current_user.member?(current_group) %>
      </div>
      <div class="span4">
        <%= link_to 'Editar perfil', edit_profile_path, rel: 'edit-profile' if can? :edit, current_group %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="center span8">
    <% posts.each do |post| %>
      <%= div_for post, class: 'row' do %>
        <div class="span2">
          <div class="corner none"></div>
          <div class="content">
            <%= link_to content_tag(:h3, post.title), post_url(post, subdomain: post.group.slug) %>
            Por: <%= link_to post.group.name, post.group %>
          <%= l post.published_at %>
          <div class="comments">
            <%= link_to "#{post.comments_count} comentarios", post %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="corner colored"></div>
        <div class="content">
          <%= raw truncate_html(post.body, length: 500) %>
        </div>
      </div>
    <% end %>
  <% end %>
  &nbsp;
</div>
<%= render 'sidebar' %>
</div>

