<% title "Blog #{current_group.name}" %>
<% if current_group.site? %>
  <%= render_banner 'Blog', posts_path %>
<% else %>
  <%= render 'groups/header' %>
<% end %>

<% if current_membership %>
  <div class="member_bar row">
    <div class="controls bloc span12">
      <div class="membership_level">
        Eres <%= t("membership.states.#{current_membership.state}").downcase %> 
      en '<%= current_group.name %>'
    </div>

    <%= link_box t('.add_post'), new_post_path, rel: 'new-post', class: 'highlight' if can? :edit, current_group %>
    <%= link_box 'Editar perfil', edit_profile_path, rel: 'edit-profile' if can? :edit, current_group %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="center span8">
    <% posts.each do |post| %>
      <%= div_for post, class: 'row' do %>
        <div class="span2 post-info">
          <div class="corner none"></div>
          <div class="content">
            <%= link_to content_tag(:h3, post.title), post_url(post, subdomain: post.group.slug) %>
            Por: <%= link_to post.group.name, post.group %>
          <%= l post.published_at %>
          <%= link_to avatar_image(post.group), post_url(post, subdomain: post.group.slug) if current_group.site? %>
        </div>
      </div>
      <div class="span6 post-teaser">
        <div class="corner colored"></div>
        <div class="content">
          <%= render_post_media(post) %>
          <%= raw truncate_html(post.body, length: 500) %>
          <div class="links";
            <%= link_to 'leer más...', post, class: 'read-more' %>
          </div>
        </div>
        <div class="controls clearfix">
          <%= link_box 'Editar', edit_post_url(post, subdomain: post.group.slug) if can? :edit, post %>
        </div>
      </div>
    <% end %>
  <% end %>
  &nbsp;
</div>
<%= render 'groups/sidebar' %>
</div>

