<% title post.title %>
<%= render 'groups/header' %>

<div class="row">
  <div class="controls bloc span12">
    <div class="row">
      <div class="span2">
        <%= link_box 'Volver', posts_path %>
      </div>
      <div class="span6">
        <%= link_box 'Editar', edit_post_path(post), class: 'highlight' if current_user &&
            current_user.member?(current_group) %>
      </div>
    </div>
  </div>
</div>
<%= div_for post, class: 'row' do %>
  <div class="info span2">
    <div class="corner none"></div>
    <div class="content">
      <h3><%= post.title %></h3>
    </div>
  </div>
  <div class="body span6">
    <div class="corner orange"></div>
    <div class="content">
      <%= render_post_media(post) %>
      <%= raw post.body %>
    </div>
  </div>
  <%= render 'groups/sidebar' %>
<% end %>
