<%= render 'header' %>
<div class="row">
  <div class="bloc span12">
    <%= link_to 'Volver', posts_path %>
    <%= link_to 'Editar', edit_post_path(post) %>
  </div>
</div>
<div class="row">
  <div class="bloc span2">
    <%= title post.title %>
  </div>
  <div class="bloc span6">
    <%= raw post.body %>
  </div>
</div>

