<% title post.title %>
<%= render 'groups/header' %>

<div class="row">
  <div class="controls bloc span12">
    <%= link_to 'Volver', posts_path %>
    <%= link_to 'Editar', edit_post_path(post) %>
  </div>
</div>
<%= div_for post, class: 'row' do %>
  <div class="info span2">
    <div class="corner none"></div>
    <div class="content">
      <h3><%= post.title %></h3>
    </div>
  </div>
  <div class="body span6">
    <div class="corner orange"></div>
    <div class="content">
      <%= render_post_media(post) %>
      <%= raw post.body %>
    </div>
  </div>
  <%= render 'sidebar' %>
<% end %>
