<%= simple_form_for [phase, category] do |form| %>
  <div class="title">
    <%= form.input :title, label: false %>
  </div>
  <%= form.input :name %>
  <% if category.image.blank? %>
    <%= form.input :image %>
  <% else %>
    <%= image_tag category.image, class: 'responsive' %>
    <%= form.input :remove_image, as: :boolean, wrapper: :checkbox %>
  <% end %>
  <%= form.input :summary, as: :text %>
  <%= submit_button_for form %>
<% end %>
