<%= simple_nested_form_for [phase, category],
  html: { multipart: true } do |form| %>
  <div class="title">
    <%= form.input :title %>
  </div>
  <%= form.input :name %>
  <%= form.input :summary, as: :text, input_html: { rows: 8 } %>
  <h4>Imágen</h4>
  <% if category.image.blank? %>
    <%= form.input :image %>
  <% else %>
    <%= image_tag category.image, class: 'responsive' %>
    <br><br><strong>Puedes borrar ésta imágen:</strong>
    <%= form.input :remove_image, as: :boolean, wrapper: :checkbox %>
    <strong>O sustituirla por otra:</strong>
    <%= form.input :image %>
  <% end %>
  <%= render 'section_fields', form: form %>
  <%= form.button :submit %>
<% end %>
