<div class="categories">
  <% if can? :create, Category %>
    <div class="hoverize">
      <div class="hover">
        <%= link_to icon(:plus, 'Añadir pregunta'), [:new, phase, :category] %>
      </div>
      <% if options[:title].present? %>
        <h2><%= options[:title] %></h2>
      <% end %>
    </div>
  <% end %>

  <%= simple_list phase.categories.each do |category| %>
    <div class="hoverize">
      <% if can? :update, category %>
        <div class="hover">
          <%= link_to icon('arrow-up'), [:up, category], method: :put %>
          |
          <%= link_to icon('arrow-down'), [:down, category], method: :put %>
        </div>
      <% end %>
      <h3>
        <%= link_to category.title, [phase, category] %>
        <small><%= category.proposals.count %> propuestas.</small>
      </h3>
    </div>
  <% end %>
</div>

