<%= render_banner 'Preguntas', proposals_path %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= avatar_link current_group %>
  <% end %>
  <%= corner_span 'span6' do %>
    <%= title 'Preguntas' %>
    <%= simple_list categories.each do |category| %>
      <h3>
        <%= link_to category.question, [category.phase, category] %>
        <small><%= link_to category.phase.title, category.phase %></small>
      </h3>
    <% end %>
  <% end %>
</div>

