<%= render_banner t('.title'), proposals_path %>

<div class="row">
  <div class="span8 offset2">
    <div class="content">
      <%= title 'Preguntas' %>
      <%= simple_list categories.each do |category| %>
        <h3>
          <%= link_to category.question, [category.phase, category] %>
          <small><%= category.phase.name %></small>
        </h3>
      <% end %>
    </div>
  </div>
</div>

