<%= render_banner 'Preguntas', [phase] %>

<div class="row">
  <%= corner_span 'span12' do %>
    <%= title 'Nueva pregunta' %>
    <h2>En <%= phase.title %></h2>
    <%= render 'form' %>
  <% end %>
</div>
