<% title category.title %>
<%= page do %>
  <div class="span2">
    <%# image_tag("habitap/habitapedia_70n.png", alt: 'Habitapedia',
                  width: 70, height: 70, class: 'breadcrumb-icon') %>
    <%= image_tag("habitap/pregunta_100_#{phase.color}.png", alt: 'Pregunta',
                  width: 100, height: 100, class: 'doc-icon') %>
  <%= render_kudos category %>
  <%= render_social_links category %>
  <%= render 'sections/summary', document: category %>
</div>
<% cache category do %>
  <div class="span6">
  <div class="hoverize">
    <%= hover? :update, category do %>
      <%= link_to icon(:edit, 'Editar'), [:edit, phase, category] %>
    <% if can? :destroy, category %>
      | <%= link_to icon(:trash), [phase, category], method: :delete, 
        data: { confirm: "¿Seguro que quieres borrar esta pregunta" } %>
    <% end %>
      <% end %>
        <h1><%= category.title %></h1>
        <div class="category_image">
          <%= category_image category %>
        </div>
      </div>    
      <div class="summary markdown">
        <%= markdown category.summary %>
      </div>
      <%= render_sections category %>
    </div>
  <% end %>

    <div class="span4 sidebar sidebar-right">
      <%= render_proposal_list category %>
    </div>
  <% end %>
