<%= render_banner 'Pregunta', phase_path(phase) %>

<div class="row">
  <%= user_column 'span2' do %>
    <h3><%= link_to phase.name, phase %></h3>
    <%= link_to fake_img(140, 140, class: 'fixed', text: phase.name), phase %>
    <div class="controls">
      <%= link_box 'Editar pregunta', [:edit, phase, category] if can? :edit, category %>
    </div>
  <% end %>
  <%= corner_span 'span6' do %>
    <%= fake_img 600, 400 %>
    <%= title category.question %>
    <%= render_body category %>
  <% end %>
  <%= corner_span 'span4', :none do %>
    <h2>Propuestas</h2>
    <ul>
      <% category.proposals.each do |proposal| %>
        <li>
        <%= link_to proposal.title, proposal %>
        <%= render_body proposal.sections.first %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
