<%= page do %>
  <div class="span2">
    <%= image_tag('habitap/category.png', alt: category.title, width: 150, height: 150) %>
    <%= render_kudos category %>
    <%= render_social_links category %>
    <%# render_sections_summary category %>
  </div>

  <div class="span6">
    <h3><%= link_to phase.title, phase %></h3>
    <div class="hoverize">
      <%= hover? :update, category do %>
        <%= link_to icon(:edit, 'Editar'), [:edit, phase, category] %>
        <% if can? :destroy, category %>
          | <%= link_to icon(:trash), [phase, category], method: :delete, 
            confirm: "¿Seguro que quieres borrar esta pregunta" %>
        <% end %>
      <% end %>
      <%= title category.question %>
      <%= fake_img 600, 400 %>
    </div>    
    <div class="summary markdown">
      <%= markdown category.summary %>
    </div>
    <%= render_sections category %>
    <%= render_body category %>
  </div>

  <div class="span4">
    <div class="hoverize">
      <%= hover? :create, Proposal do %>
        <%= link_to icon(:plus, 'Añadir propuesta'), [:new, category, :proposal] %>
      <% end %>
      <h2>Propuestas</h2>
    </div>
    <%= simple_list category.proposals.each do |proposal| %>
      <div class="hoverize">
        <%= hover? :update, proposal do %>
          <%= link_to icon('arrow-up'), [:up, proposal], method: :put %>
          |
          <%= link_to icon('arrow-down'), [:down, proposal], method: :put %>
        <% end %>

        <h3><%= link_to proposal.title, proposal %></h3>
        <%= markdown proposal.summary %>
      </div>
    <% end %>
  </div>
<% end %>

