<%= page do %>
  <div class="span2">
    <%= image_tag('habitap/category.png', alt: category.title, width: 150, height: 150) %>
    <%= render_kudos category %>
    <%= render_social_links category %>
    <%# render_sections_summary category %>
  </div>

  <div class="span6">
    <h3><%= link_to phase.title, phase %></h3>
    <div class="hoverize">
      <%= hover? :update, category do %>
        <%= link_to icon(:edit, 'Editar'), [:edit, phase, category] %>
        <% if can? :destroy, category %>
          | <%= link_to icon(:trash), [phase, category], method: :delete, 
            data: { confirm: "¿Seguro que quieres borrar esta pregunta" } %>
        <% end %>
      <% end %>
      <%= title category.question %>
      <div class="category_image">
        <%= category_image category %>
      </div>
    </div>    
    <div class="summary markdown">
      <%= markdown category.summary %>
    </div>
    <%= render_sections category %>
    <%= render_body category %>
  </div>

  <div class="span4">
    <%= render_proposal_list category %>
  </div>
<% end %>

