<%= render_banner 'Pregunta', phase_path(phase) %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= link_to placeholder_image_tag(text: phase.name, width: 140, height: 140), phase %>
    <div class="controls">
      <%= link_box 'Editar pregunta', [:edit, phase, category] if can? :edit, category %>
    </div>
  <% end %>
  <%= corner_span 'span6' do %>
    <%= title category.question %>
    <%= raw category.body %>
  <% end %>
  <%= corner_span 'span4', :none do %>
    <ul>
      <% category.proposals.each do |proposal| %>
        <li><%= link_to proposal.title, proposal %><%= raw proposal.description %></li>
      <% end %>
    </ul>
  <% end %>
</div>
