<%# render_banner 'Pregunta', phase_path(phase) %>

<div class="row">
  <%= user_column 'span2' do %>
    <%= image_tag('habitap/category.png', alt: category.title, width: 150, height: 150) %>
    <%= render_sections_summary category %>
    <%= render_social_links category %>
  <% end %>
  <%= corner_span 'span6' do %>
    <h3><%= link_to phase.title, phase %></h3>
    <div class="hoverize">
      <% if can? :update, category %>
        <div class="hover">
          <%= link_to 'Editar', [:edit, phase, category] %>
        </div>
      <% end %>
      <%= title category.question %>
      <%= fake_img 600, 400 %>
    </div>
    <%= render_sections category %>
    <%= render_body category %>
  <% end %>

  <%= corner_span 'span4', :none do %>
    <div class="hoverize">
      <%= hover? :create, Proposal do %>
        <%= link_to 'Añadir propuesta', [:new, category, :proposal] %>
      <% end %>
      <h2>Propuestas</h2>
    </div>
    <%= simple_list category.proposals.each do |proposal| %>
      <div class="hoverize">
        <%= hover? :update, proposal do %>
          <%= link_to 'Subir', [:up, proposal], method: :put %>
          |
          <%= link_to 'Bajar', [:down, proposal], method: :put %>
        <% end %>

        <h3><%= link_to proposal.title, proposal %></h3>
        <%= render_body proposal.sections.first %>
      </div>
    <% end %>
  <% end %>
</div>


