<fieldset class="sortable_fieldset images">
  <legend><%= (Image.model_name.human count: 2).capitalize %></legend>
  <%= form.fields_for :images do |f| %>
    <div class="sort-fields">
      <a href="javascript:void(0)" class="up">Up</a> | <a href="javascript:void(0)" class="down">Down</a>
    </div>
    <div class="image-preview">
      <%= image_tag f.object.image.thumb.to_s if f.object.image.present? %>
      <%= image_tag f.object.external_image_url if f.object.external_image_url.present? %>
    </div>
    <p class="help-block">Puedes subir una imagen o indicar una url</p>
    <%= f.input :image %>
    <%= f.input :external_image_url %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :credits %>
    <%= f.input :position, as: :hidden %>
    <%= f.input :new_object, as: :hidden, value: 'true' if f.object.new_record? %>
    <%= f.link_to_remove "Remove image", class: 'btn' %>
  <% end %>
  <p class=section-actions>
    <%= form.link_to_add t('app.add', element: Image.model_name.human), :images, class: "btn" %>
  </p>
</fieldset>

