<table class="table social-document">
  <tr>
    <td class="kudos">
      <%= icon(:heart, '') %>
      <%= link_to "#{model.kudos_count} favoritos", [model, :kudos], method: :put %>
    </td>
  </tr>
</table>
<table class="table">
  <% if model.respond_to?(:editorships_count) %>
    <tr>
      <td class="editors">
        <%= icon('pencil') %>
        <%= link_to "#{model.editorships_count} editores", polymorphic_path([model, :edition]), class: '' %>
      </td>
    </tr>
  <% end %>
</table>

<table class="table social">
  <tr><td class="">
      <%= icon(:twitter) %>
      <%= link_to 'Tweet', "https://twitter.com/share?url=#{request.url}", target: '_blank' %>
  </tr></td>
</table>

