<table class="table">
  <tr>
    <td class="kudos">
      <%= link_to icon(:heart, ''), [model, :kudos], method: :put %>
      <%= model.kudos_count %> personas.
    </td>
  </tr>
  <tr>
    <td class="">
      <%= link_to icon('edit'), '#' %>
      <%= model.subscribers_count %> editores.
    </td>
  </tr>
  <tr>
    <td class="subscriptors expansible">
      <%= link_to icon('eye-open'), '#' %>
      <%= model.view_count %> visitas.
    </td>
  </tr>
</table>
