<!--<%= form_tag search_path, class: 'form-search', method: :get do %>
<input type="text" name="t" class="input-medium search-query">
<% end %>-->
  <% if !group or current_group.admin? %>
    <%= link_to image_tag('Logo_Mquc.png', width: 271, height: 41), posts_path(subdomain: current_group), class: 'mquc' %>
  <% elsif group and !current_group.admin? %>
    <%= link_to current_group.name, posts_path(subdomain: current_group), class: 'group_name' %>
  <% end %>
  <%= render_group_header current_group if group %>
<div class="headrow">
  <div class="breadcrumbs">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>
</div>


