<fieldset class=sortable_fieldset>
  <legend><%= (Section.model_name.human count: 2).capitalize %></legend>
  <%= form.fields_for :text_sections do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :position, as: :hidden %>
    <%= f.link_to_remove "Remove section", class: "btn" %>
  <% end %>
  <%= form.fields_for :image_sections do |f| %>
    <%= f.input :title %>
    <div class="image-preview">
      <%= f.object.image.thumb if f.object.image.present? %>
    </div>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :position, as: :hidden %>
    <%= f.link_to_remove "Remove section", class: "btn" %>
  <% end %>
  <p>
    <%= form.link_to_add t('app.add', element: TextSection.model_name.human), :text_sections, class: "btn" %>
    <%= form.link_to_add t('app.add', element: ImageSection.model_name.human), :image_sections, class: "btn" %>
  </p>
</fieldset>
