<fieldset class="sortable_fieldset sections">
  <legend><%= (Section.model_name.human count: 2).capitalize %></legend>
  <%= form.fields_for :sections do |f| %>
    <div class="sort-fields">
      <a href="javascript:void(0)" class="up">Up</a> | <a href="javascript:void(0)" class="down">Down</a>
    </div>
    <%= f.input :title %>
    <% if f.object.class == TextSection %>
      <%= f.input :body, input_html: { rows: 8 } %>
    <% elsif f.object.class == ImageSection %>
      <div class="image-preview">
        <%= image_tag f.object.image.thumb if f.object.image.present? %>
      </div>
      <%= f.input :image %>
      <%= f.input :image_cache, as: :hidden %>
    <% end %>
    <%= f.input :position, as: :hidden %>
    <%= f.link_to_remove "Remove section", class: "btn" %>
  <% end %>
  <%= form.fields_for :text_sections do |f| %>
    <div class="sort-fields">
      <a href="javascript:void(0)" class="up">Up</a> | <a href="javascript:void(0)" class="down">Down</a>
    </div>
    <%= f.input :title %>
    <%= f.input :body, input_html: { rows: 8 } %>
    <%= f.input :position, as: :hidden %>
    <%= f.link_to_remove "Remove section", class: "btn" %>
  <% end %>
  <%= form.fields_for :image_sections do |f| %>
    <div class="sort-fields">
      <a href="javascript:void(0)" class="up">Up</a> | <a href="javascript:void(0)" class="down">Down</a>
    </div>
    <%= f.input :title %>
    <div class="image-preview">
      <%= image_tag f.object.image.thumb if f.object.image.present? %>
    </div>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :position, as: :hidden %>
    <%= f.link_to_remove "Remove section", class: "btn" %>
  <% end %>
  <p class=section-actions>
    <%= form.link_to_add t('app.add', element: TextSection.model_name.human), :text_sections, class: "btn" %>
    <%= form.link_to_add t('app.add', element: ImageSection.model_name.human), :image_sections, class: "btn" %>
  </p>
</fieldset>
