<div id="session" class="container">
  <div class="row">
    <%= link_to image_tag('Logo_Mquc.png', alt: 'Logo masqueunacasa'), root_url(host: request.domain), id: 'logo' %>
    <div class="links">
      <%= link_box 'Inicio', root_url(host: request.domain), show_if_current: false unless request.subdomain.present? %>
      <%= link_box 'Blog', posts_url(host: request.domain), show_if_current: false %>
      <%= link_box 'Colectivos', groups_url(host: request.domain), show_if_current: false %>
    </div>
    <div class="lang-selector">
      <%= link_box 'ES', url_for(locale: 'es') %>
      <%= link_box 'CA', url_for(locale: 'ca') %>
    </div>
    <div class="session">
      <% if current_user %>
        <%= link_box "¡Hola #{current_user.name}!", user_url(current_user, host: request.domain), class: 'user' %>
        <%= link_box 'Cerrar sesión', logout_url(host: request.domain) %>
      <% else %>
        <%= link_box 'Iniciar sesión', login_url(host: request.domain, from: request.path), class: 'login' %>
      <% end %>
    </div>
  </div>
</div>

