<div id="session" class="container">
  <div class="row">
    <div class="span4 offset1">
    <% unless current_page? root_path %>
      <%= link_to 'Masqueunacasa.org', root_url(subodmain: nil) %>
    <% end %>
    <%= link_to 'Blog' %>
    </div>
    <div class="span3 offset3">
      <% if current_user %>
        <%= link_to current_user.name, current_user %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </div>
    <div class="span1">
      <%= link_to 'ES', url_for(locale: 'es') %>
      <%= link_to 'CA', url_for(locale: 'ca') %>
    </div>
  </div>
</div>

