<div id="session" class="container">
  <div class="row">
    <% # unless current_page? root_path %>
      <%= link_to image_tag('Logo_Mquc.png', alt: 'Logo masqueunacasa'), root_url(host: request.domain), id: 'logo' %>
    <% # end %>
    <div class="links">
      <%= link_box 'Blog', posts_url(host: request.domain) %>
    </div>
    <div class="lang-selector">
      <%= link_box 'ES', url_for(locale: 'es') %>
      <%= link_box 'CA', url_for(locale: 'ca') %>
    </div>
    <div class="session">
      <% if current_user %>
        <%= link_box "¡Hola #{current_user.name}!", current_user, css_class = 'user' %>
        <%= link_box 'Cerrar sesión', logout_path %>
      <% else %>
        <%= link_box 'Iniciar sesión', login_path, css_class: 'login' %>
      <% end %>
    </div>
  </div>
</div>

