<div id="session" class="container">
  <div class="row">
    <%= link_to image_tag('Logo_Mquc.png', alt: 'Logo masqueunacasa'), root_url(host: request.domain), id: 'logo' %>
    <div class="links">
      <%= link_box 'Blog', blog_url(host: request.domain), show_if_current: false %>
      <%= link_box t('.community'), community_url(host: request.domain), show_if_current: false %>
      <%= link_box 'Habitapedia', phases_url(host: request.domain), show_if_current: false %>
    </div>
    <div class="lang-selector">
      <!-- TODO: implementar el cambio de idiomas -->
      <%#= link_box 'ES', url_for(locale: 'es') %>
      <%#= link_box 'CA', url_for(locale: 'ca') %>
    </div>
    <div class="session">
      <% if current_user %>
        <%= link_box "¡Hola #{current_user.name}!", user_url(current_user, host: request.domain), class: 'user' %>
        <%= link_box t('.session_end'), logout_url(host: request.domain, from: request.url) %>
      <% else %>
        <%= link_box t('.session_start'), login_url(host: request.domain, from: request.url), class: 'login' %>
      <% end %>
    </div>
  </div>
</div>

