<div id="session" class="navbar container">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left primary-links">
        <li class="<%= active?('habitapedia')%>">
          <%= link_to 'Propuestas', front_path %>
        </li>
        <li class="<%= active?('experiencies')%>">
          <%= link_to 'Experiencias', experiencies_url %>
        </li>
        <!-- <li><%# link_to 'Mapa', locations_url %></li> -->
      </ul>
      <ul class="nav pull-right session-links">
        <% if current_user %>
          <li><%= link_to "¡Hola #{current_user.name}!", user_url(current_user), class: 'user' %></li>
          <li><%= link_to t('.session_end'), logout_url(from: request.url), class: 'logout' %></li>
        <% else %>
          <li><%= link_to t('.session_start'), login_url(from: request.url), class: 'login' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

