<div id="session" class="navbar container">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left primary-links">
        <li><%= link_to 'Habitapedia', phases_url(host: request.domain) %></li>
        <!-- <li><%# link_to 'Mapa', locations_url(host: request.domain) %></li> -->
        <li><%= link_to t('.community'), community_url(host: request.domain) %></li>
      </ul>
      <ul class="nav pull-right secondary-links">
        <!--
        <li><%= link_to "Sobre el proyecto", "#" %></li>
        <li><%= link_to "Contacto", "#" %></li>
        -->
         <!-- TODO: implementar el cambio de idiomas 
         <div class="lang-selector">
           <%#= link_to 'ES', url_for(locale: 'es') %>
           <%#= link_to 'CA', url_for(locale: 'ca') %>
         </div>
         -->
      </ul>
      <ul class="nav pull-right session-links">
        <% if current_user %>
          <li><%= link_to "¡Hola #{current_user.name}!", user_url(current_user, host: request.domain), class: 'user' %></li>
          <li><%= link_to t('.session_end'), logout_url(host: request.domain, from: request.url), class: 'logout' %></li>
        <% else %>
          <li><%= link_to t('.session_start'), login_url(host: request.domain, from: request.url), class: 'login' %></li>
        <% end %>
      </ul>
      
    </div>
  </div>
</div>

