<div id="session" class="container">
  <div class="row">
    <div class="links">
    <% unless current_page? root_path %>
      <%= link_to 'Masqueunacasa.org', root_url(host: request.domain) %>
    <% end %>
      <div class="link-wrapper">
        <%= link_to 'Blog', posts_url(host: request.domain) %>
      </div>
    </div>
    <div class="lang-selector">
      <%= link_to 'ES', url_for(locale: 'es') %>
      <%= link_to 'CA', url_for(locale: 'ca') %>
    </div>
    <div class="session">
      <% if current_user %>
        <%= link_to current_user.name, current_user %>
      <% else %>
        <div class="link-wrapper">
          <div class="side left-side"></div>
          <%= link_to 'Iniciar sesión', login_path, class: "login" %>
          <div class="side right-side"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

