<div class="fields hoverize">
  <div class="hover">
    <%= link_to icon('arrow-up'), "javascript:void(0)", class: 'section-up', title: 'Subir la sección' %>
    |
    <%= link_to icon('arrow-down'), "javascript:void(0)", class: 'section-down', title: 'Bajar la sección' %>
  </div>
  <%= f.input :title, hint: t('simple_form.hints.section.title') %>
  <div class="section_type text">
    <%= f.input :body, hint: t('simple_form.hints.section.body') %>
  </div>
  <div class="rm-section">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Borrar esta sección", 'javascript:void(0)', class: 'btn rm-section' %>
  </div>
  <%= f.hidden_field :position %>
</div>
