
<%= simple_form_for phase do |form| %>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <%= form.input :title_es %>
  <%= form.input :title_ca %>
  <%= form.input :summary_ca %>
  <%= form.input :summary_es %>
  <%= form.input :position %>
  <%= form.submit %>
<% end %>
