<%= simple_form_for phase do |form| %>
  <%= form.error_notification %>
  <div class="row">
    <div class="span4">
      <%= form.input :position %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= form.input :title %>
      <%= form.input :question %>
      <%= form.input :summary, as: :text, input_html: { rows: 8, class: 'rte' } %>
    </div>
  </div>
  <%= form.submit %>
<% end %>
