<div class="phase-info <%= phase.color_name %>">
  <div class="content">
    <%= link_to t('app.edit'), [:edit, phase], 
      class: 'action', data: {action: "edit-phase-#{phase.id}" } if can? :update, phase %>
  <% cache ['summary', phase] do %>
      <%= image_tag(phase.image_url, width: 100, height: 100,
                    alt: phase.title, 
                    class: 'fixed centered phase-image') %>
      <h2><%= phase.title %></h2>
      <div class="question">
        <%= phase.question %>
      </div>
      <div class="summary markdown">
        <%= markdown phase.summary %>
      </div>
  <% end %>
  </div>
</div>
