<%= page do %>
  <div class="span12">
    <% title 'Habitapedia' %>
  </div>

  <% phases.each do |phase| %>
    <div class="span4">
      <%= link_to image_tag(phase.image_url, width: 270, height: 270, alt: phase.title, class: 'fixed'), phase %>
      <h2><%= link_to phase.title, phase %></h2>
      <div class="summary markdown">
        <%= markdown phase.summary %>
      </div>
      <%= link_to 'Leer más...', phase %>
      <%= simple_list phase.categories.each do |category| %>
        <h3><%= link_to category.question, [phase, category] %></h3>
      <% end %>
    </div>
  <% end %>
<% end %>

