<div class="row">
  <%= corner_span('span12') do %>
    <%= title 'Fases' %>

    <%= link_box 'Añadir fase', new_phase_path, rel: 'new-phase' if can? :new, Phase %>

    <% phases.each do |phase| %>
      <%= div_for phase do %>
        <h3><%= link_to phase.name, phase %></h3>
        <%= markdown phase.description %>
        <%= link_to 'Editar', [:edit, phase], rel: "edit-phase-#{phase.id}" if can? :edit, Phase %>
        <ul>
          <% phase.categories.each do |category| %>
            <li><%= link_to category.question, [phase, category] %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
