<%# render_banner 'Habitapedia', phases_path %>
<% title 'Habitapedia' %>
<% phases.each do |phase| %>
  <div class="row phase">
    <%= corner_span('span8') do %>
      <div class="row">
        <div class="span3">
          <%= link_to fake_img(600, 400, text: phase.title), phase %>
          </div><div class="span4">
          <%= render_body phase.sections.first %>
          <%= link_to 'Leer más...', phase %>
      </div></div>
      <%= link_to 'Editar fase', [:edit, phase], rel: "edit-phase-#{phase.id}" if can? :edit, Phase %>
    <% end %>
    <%= corner_span('questions span4', :none) do %>
        <%= simple_list phase.categories.each do |category| %>
          <h3><%= link_to category.question, [phase, category] %></h3>
        <% end %>
    <% end %>
  </div>
<% end %>
