<%= render_banner 'Habitapedia', phases_path %>
<% title 'Habitapedia' %>
<div class="row">
  <% phases.each do |phase| %>
    <%= corner_span('phase span4') do %>
      <h2><%= link_to phase.name, phase %></h2>
      <%= link_to fake_img(600, 400), phase %>
      <%= markdown phase.description %>
      <%= link_to 'Editar fase', [:edit, phase], rel: "edit-phase-#{phase.id}" if can? :edit, Phase %>
    <% end %>
  <% end %>
</div>
</div>
