<%= render_banner 'Habitapedia', phases_path %>
<% title 'Habitapedia' %>
<% phases.each do |phase| %>
  <div class="row phase">
    <%= corner_span('span8') do %>
      <div class="row">
        <div class="span3">
          <%= link_to fake_img(600, 400, text: phase.name), phase %>
          </div><div class="span4">
          <%= markdown phase.description %>
      </div></div>
      <%= link_to 'Editar fase', [:edit, phase], rel: "edit-phase-#{phase.id}" if can? :edit, Phase %>
    <% end %>
    <%= corner_span('questions span4', :none) do %>
      <table class="table">
        <% phase.categories.each do |category| %>
          <tr><td>
              <%= link_to category.question, [phase, category] %>
          </td></tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
