<% title 'Habitapedia' %>
<%= page row: false do %>

  <div class="row">
    <% phases.each do |phase| %>
      <div class="span4">
        <div class="content">
          <div class="hoverize">
            <%= hover? :update, phase do %>
              <%= link_to icon(:edit, 'Editar fase'), [:edit, phase] %>
            <% end %>

            <%= image_tag(phase.image_url, width: 150, height: 150, alt: phase.title, class: 'fixed centered') %>
            <h2><%= phase.title %></h2>
            <div class="summary markdown">
              <%= markdown phase.summary %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% phases.each do |phase| %>
      <div class="span4">
        <div class="content">
          <%= render_category_list phase, title: phase.title %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>

