<%= render_banner phase.name, phase %>


<div class="row">
  <%= user_column 'span2' do %>
      <%= placeholder_image_tag(text: phase.name, width: 140, height: 140) %> 
    <div class="controls">
      <%= link_box 'Editar fase', [:edit, phase] if can? :update, phase %>
      <%= link_box 'Añadir pregunta', [:new, phase, :category] if can? :create, Category %>
    </div>
  <% end %>

  <%= corner_span 'span6' do %>
    <%= title phase.name %>
    <%= markdown phase.description %>
    <ul>
      <% phase.categories.each do |category| %>
        <li>
        <%= link_to category.question, [phase, category] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


