<%# render_banner phase.title, phase %>


<div class="row">
  <%= user_column 'span2' do %>
    <%= link_to image_tag(phase.image_url, alt: phase.title, width: 150, height: 150), phases_path %>
    <%= render_sections_summary phase %>
    <%= render_social_links phase %>
  <% end %>

  <%= corner_span 'span6' do %>
    <h3><%= link_to 'Habitapedia', phases_path %></h3>
    <div class="hoverize">
      <%= hover? :update, phase do %>
        <%= link_to 'Editar', [:edit, phase] %>
      <% end %>
      <%= title phase.title %>
      <%= fake_img 600, 400 %>
    </div>
    <%= render_sections phase %>
  <% end %>

  <%= corner_span 'span4' do %>
    <div class="hoverize">
      <%= hover? :create, Category do %>
        <%= link_to 'Añadir pregnta', [:new, phase, :category] %>
      <% end %>
      <h2>Preguntas</h2>
    </div>
    <%= simple_list phase.categories.each do |category| %>
      <div class="hoverize">
        <% if can? :update, category %>
          <div class="hover">
            <%= link_to 'Subir', [:up, category], method: :put%>
            |
            <%= link_to 'Bajar', [:down, category], method: :put %>
          </div>
        <% end %>
        <h3><%= link_to category.question, [phase, category] %></h3>
      </div>
    </div>
  <% end %>
<% end %>
</div>


