<%= render_banner phase.name, phase %>

<div class="controls member_bar">
  <%= link_box 'Editar fase', [:edit, phase] if can? :update, phase %>
  <%= link_box 'Añadir pregunta', [:new, phase, :category] if can? :create, Category %>
</div>

<div class="row">
  <%= corner_span 'span12' do %>
    <%= title phase.name %>
    <ul>
      <% phase.categories.each do |category| %>
        <li>
        <%= link_to category.question, [phase, category] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


