<%# render_banner phase.title, phase %>

<%= page do %>
  <div class="span2">
    <%= phase_image_link phase, size: 150 %>
    <%= render_kudos phase %>
    <%= render_social_links phase %>
  </div>

  <div class="span6">
    <h3><%= link_to 'Habitapedia', phases_path %></h3>
    <div class="hoverize">
      <%= hover? :update, phase do %>
        <%= link_to icon(:pencil), [:edit, phase] %>
      <% end %>
      <%= title phase.title %>
      <%= fake_img 600, 400 %>
    </div>
    <div class="summary markdown">
      <%= markdown phase.summary %>
    </div>
    <%= render_sections phase %>
  </div>

  <div class="span4">
    <div class="categories">

      <div class="hoverize">
        <%= hover? :create, Category do %>
          <%= link_to icon(:plus, 'Añadir pregunta'), [:new, phase, :category] %>
        <% end %>
        <h2>Preguntas</h2>
      </div>

      <%= simple_list phase.categories.each do |category| %>
        <div class="hoverize">
          <% if can? :update, category %>
            <div class="hover">
              <%= link_to icon('arrow-up'), [:up, category], method: :put %>
              |
              <%= link_to icon('arrow-down'), [:down, category], method: :put %>
            </div>
          <% end %>
          <h3><%= link_to category.question, [phase, category] %></h3>
        </div>

      <% end %>

    </div>
  </div>
<% end %>


