<div class="row">
  <%= corner_span('span4') do %>
      <%= title('Iniciar sesión')  %>
      <%= simple_form_for user_session, html: {class: 'clearfix'} do |form| %>
        <%= form.input :email %>
        <%= form.input :password %>
        <%= submit_button_for form, text='Entrar' %>
      <% end %>
  <% end %>
  <%= corner_span('span4', color = "negro") do %>
    <h2>Crear una cuenta</h2>
    <%= render 'users/form' %>
  <% end %>
</div>
