<div class="row">
  <div class="bloc span4">
    <div class="content">
      <%= title('Iniciar sesión')  %>
      <%= simple_form_for user_session do |form| %>
        <%= form.input :email %>
        <%= form.input :password %>
        <%= form.button :submit, value: 'Entrar' %>
      <% end %>
    </div>
  </div>
  <div class="bloc span4">
    <div class="content">
      <h2>Crear una nueva cuenta</h2>
      <%= render 'users/form' %>
    </div>
  </div>
</div>
