<div class="row">
  <%= corner_span('span4') do %>
      <%= title t('.title')  %>
      <%= simple_form_for user_session, html: {class: 'clearfix'} do |form| %>
        <%= hidden_field_tag :from, params[:from] %>
        <%= form.input :email %>
        <%= form.input :password %>
        <%= submit_button_for form, text='Entrar' %>
      <% end %>
      <%= link_to 'Olvidé mi contraseña', new_password_recovery_path %>
  <% end %>
  <%= corner_span('span4', color = "negro") do %>
    <h2><%= t('.create_account') %></h2>
    <%= render 'users/form' %>
  <% end %>
</div>
