<div class="row">
  <%= corner_span('bloc span4') do %>
    <div class="content clearfix">
      <%= title('Iniciar sesión')  %>
      <%= simple_form_for user_session, html: {class: 'clearfix'} do |form| %>
        <%= form.input :email %>
        <%= form.input :password %>
        <div class="submit-wrapper">
          <%= form.button :submit, value: 'Entrar' %>
          <div class="side-right"></div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= corner_span('bloc span4', color = "negro") do %>
    <div class="content clearfix">
      <h2>Crear una nueva cuenta</h2>
      <%= render 'users/form' %>
      <div class="side-right"></div>
    </div>
  <% end %>
</div>
