<div class="document-locations">
  <div class="hoverize">
    <div class="header">
      <%= hover? :update, resource do %>
        <% url = [:new, resource, :location] %>
        <%= link_to icon(:add, 'Añadir localización'), url %>
      <% end %>
      <h2>Dónde</h2>
    </div>
    <div class="locations">
      <div class="map-wrapper">
        <% if resource.location.present? %>
          <div class="map" style="width: 0px; height:0px;" >
            <%= fake_img_fixed(310, 310, text: 'Mapa') %>
          </div>
              <%= content_tag :div, resource.location.title, class: 'location', data: {title: resource.location.title, longitude: resource.location.longitude, latitude: resource.location.latitude} %>
          </div>
        <% else %>
          <p>No hay información sobre localización  <%= "para #{resource.title.camelize}" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
