<% google_maps %>

<div class="row">
  <%= corner_span 'span6' do %>
    <% simple_form_for [parent, location] do |f| %>
      <div class="map" style="width: 300px; height: 300px;"></div>
      <%= f.input :title %>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</div>