<%= simple_form_for [document, image] do |f| %>
  <%= f.input :title %>
  <% if !image.image.blank? %>
    <%= image_tag image.image.thumb.to_s %>
  <% end %>
  <p class="help-block">
    Puedes subir una imagen o indicar una url:
  </p>
  <%= f.input :image %>
  <%= f.input :external_image_url %>
  <%= f.input :credits %>
  <%= submit_button_for f %>
<% end %>
