<%= page do %>
  <div class="span6">
    <h2>En <%= link_to document.title, document %></h2>
    <%= title 'Administrar imágenes' %>
    <%= simple_list images, class: "images-list" do |image| %>
      <div class="hoverize">
        <%= hover? :update, document do %>
          <%= link_to icon(:edit), [:edit, document, image] %>
          |
          <%= link_to icon('arrow-up'), [:up, image], method: :put %>
          |
          <%= link_to icon('arrow-down'), [:down, image], method: :put %>
          |
          <%= link_to icon(:trash), [document, image], method: :delete, confirm: "¿Seguro?" %>
        <% end %>
        <div class="image-container">
          <% if image.image? %>
            <%= image_tag image.image.thumb.to_s %>
          <% elsif image.external_image_url? %>
            <%= image_tag image.external_image_url %>
          <% end %>
        </div>
        <span class="image-title">
          <%= image.title %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="span4 offset1">
    <h3>Añadir imagen:</h3>
    <%= render 'form' %>
  </div>
<% end %>
