<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) %> :: Masqueunacasa</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="session" class="container">
      <div class="row">
        <div class="span3">
          <% if current_user %>
            <%= link_to current_user.name, current_user %>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path %>
          <% end %>
        </div>
        <div class="span6">
          <%= link_to 'Colectivos', groups_path %>
          <%= link_to 'Usuarios', users_path %>
        </div>
        <div class="span3">
          <%= link_to 'ES', url_for(locale: 'es') %> |
          <%= link_to 'CA', url_for(locale: 'ca') %>
        </div>
      </div>
    </div>

    <div id="flashes" class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
    </div>

    <div id="main" class="container">
      <%= yield %>
    </div>

  </body>
</html>
