<!DOCTYPE html>
<html class="<%= controller_class %> <%= themes %> <%= subdomain_class %>">
  <head> 
    <title><%= yield(:title) %> :: <%= current_group.name %></title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='/favicon.png' rel='shortcut icon' type='image/png'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :head %>
  </head>
  <body>
    <%= render 'flashes' %>
    <%= render 'session' %>

    <div id="main" class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/ga' %>
    <div style="display:none">
      Masqueunacasa version <%= ENV["RAILS_APP_VERSION"] %>. AGPL3
    </div>
  </body>
</html>
