<div class="row">
  <%= corner_span('span4') do %>
    <%= title 'Recuperar contraseña' %>
    <%= simple_form_for recovery do |form| %>
      <%= form.input :email %>
      <%= form.submit %>
    <% end %>
  <% end %>
</div>
